/*Import Font Roboto*/

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  }
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

/*End Import Font Roboto*/

/*Import Font Helvetica*/
 @font-face {
     font-family: "Helvetica Light";
     src: url("../fonts/Helvetica/helveticaneuelight.ttf") format("truetype");
 }
 @font-face {
    font-family: "Helvetica Bold";
    src: url("../fonts/Helvetica/helveticaneuebold.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica Medium";
    src: url("../fonts/Helvetica/helveticaneuemedium.ttf") format("truetype");
}
/*End Import Font Helvetica*/


/*Import Font Montserrat*/
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
/*End Import Font Montserrat*/

// Muli
@font-face {
    font-family: "Muli";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype");
}