//  Footer
.footer_section{
    position: absolute;
    bottom: 0;
    height: 55px;
    display: table;
    table-layout: fixed;
    width: 100%;
    z-index: 99999999;
    top: unset !important;
    .content_footer{
        display: flex;
        flex-wrap: wrap;
        .footer_left,.footer_right{width: 50%;display: flex;align-items: center;}
        .footer_left{
            .Copyright{
                color: #fff;
                display: flex;
                font-size: 13px;
                a{color: #fff;
                    margin-left: 10px;
                    padding-left: 10px;
                    border-left: 2px solid #fff;}
            }
        }
        .footer_right{
            justify-content: flex-end;
            .connect{
                display: flex;
                .link_connect{margin-right: -6px;}
            }
        }

    }
}
.page_member {
    .footer_section{
        height: 50px;
    }
}
@media (max-width:1200px){
    .footer_section .content_footer .footer_right{width: 30%;}
    .footer_section .content_footer .footer_left{width: 70%;}
 }
 @media (max-width:1023px){ 
    .footer_section{
        position: absolute;
        height: auto;
        padding: 15px 0;
    }

 }
 @media (max-width:992px){ 
    .footer_section .content_footer{
        flex-direction: column-reverse;
        .footer_right{
            margin-bottom: 10px;
            width: 100%;
            .connect{margin: auto;}
        }
        .footer_left {
            width: 100%;
            .Copyright {
                font-size: 13px;flex-wrap: wrap;justify-content: center;margin: auto;
                .text_Copyright{
                    width: 100%;text-align: center;
                    margin-bottom: 10px;
                }
                .Privacy_Policy{border-left: none;}
            }
        }
    }
    
 }
 @media (max-width:767px){
    .page-id-217{
        #header .container_header .menu_header .button_link{
            display: none;
        }
        .footer_section{
            position: static;
            background: #726658;
        }
    }
 }
@media (max-width:580px){ 
    .content_home #fullpage div.section_bottom .text div.text2{top: auto !important ; bottom: 132px;}  
    .footer_section .content_footer .footer_left .Copyright{font-size: 12px;}
    .footer_section .content_footer .footer_right .connect .link_connect{margin: 0;}
}


