#header{
    position: relative;
    width: 100%;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    .container_header{
      width: 1760px;
      margin: auto;
      display: flex;
      position: absolute;
      height: 140px;
      .logo_header,.menu_header{width: 50%;display: flex;align-items: center;}
      .logo_header{
        img{
          max-width: 120px;
        }
      }
      .menu_header{
        justify-content: flex-end;
        .icon_menu{
          text-align: right;
          i{
            color: #fff;
            font-size: 30px;
            cursor: pointer;
          }
        }
        .tab_menu{
          right: 0;
          position: fixed;
          width: 460px;
          max-width: 90%;
          height: 100vh;
          max-height: 100vh;
          top: 0;
          box-sizing: border-box;
          transition: all 0.6s ease;
          overflow: auto;
          z-index: 9999999999;
          background: #fff;
          transform: translateX(100%);
           opacity: 0;
          .menu{
            li{
              text-align: right;
                a{
                  color: #5f5346;
                }
            }
            >li{
              padding: 20px 80px 20px 80px;
              >a{
                font-size: 30px;
                border-bottom: 1px solid #5f5346;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 16px;
                padding-bottom: 16px;
                letter-spacing: 0.05em;
              }
              .sub-menu{
                li{
                  margin-bottom: 25px;
                  a{font-size: 20px;letter-spacing: 0.05em;}
                }
              }
            }
          }
        }
        .active{
          opacity: 0.9;
          transform: translateX(0%);
          transition: all 0.6s ease;
        }
        .close_menu{
          height: 85px;
          display: flex;
          align-items: flex-end;
          padding-left: 80px;
          margin-bottom: 37px;
        }
      }
      .button_link{
        display: flex;
        a{
          color: #fff;
          border-radius: 5px;
          border: 1px solid #fff;
          padding: 5px 15px;
          font-size: 14px;
          margin-left: 36px;
          letter-spacing: 0.1em;
          &:hover{
            background: #fff;
            color: #5f5346;
            ;
          }
        }
      }
    }
}
.logo_mobile_team{display: none;}
@media (max-width: 1400px) and (min-width: 992px) { 
  #header .container_header .menu_header .tab_menu{width: 360px;}
  #header .container_header .menu_header .tab_menu .menu > li {
    padding: 20px 40px 20px 40px;
  }
}

@media (max-width:1400px){ 
  #header .container_header{width: 100%;height: 95px;}
  #header .container_header .logo_header img{max-width: 120px;}
  #header .container_header .menu_header .icon_menu i{font-size: 25px; }
  #header .container_header .button_link a{font-size: 12px;}
  #header .container_header .menu_header .button_link{display: flex;}
}
@media (max-width:1023px){ 
  #header .container_header .logo_header img{width: 55px;}
  .logo_mobile_team{display: block;}.logo_desktop_team{display: none;}
}

@media (max-width:767px){ 
  #header .container_header{height: 90px;}
  #header .container_header .logo_header img{max-width: 85px;}
  #header .container_header .menu_header {
    .button_link{
      display: flex;
      a{font-size: 10px;}
    }
  }
  #header .container_header .menu_header .icon_menu i{font-size: 25px;}
  #header .container_header .menu_header .tab_menu .menu > li > a{font-size: 30px;}
  #header .container_header{height: 60px;}
  #header .container_header .menu_header .icon_menu i , .content_home #fullpage .section_bottom .text .text1 p, .content_home #fullpage .section:first-child .text .text1 p{
    font-size: 20px;
  }
}
@media (max-width:580px){ 
#header .container_header{
  height: 100vh;
  max-width: 100% !important;
  .logo_header{
    a{position: absolute;left: 2px;
      top: 0;}
    img{max-width: 50px;margin-top: 18px;margin-left: 25px;}
  }
  .menu_header{
    .icon_menu{
      position: absolute;
      top: 40px;
      i{font-size: 28px;}
    }
    .button_link{
    position: absolute;
    bottom: 36px;
    right: 0;
    left: 0;
    justify-content: center;
      a{margin: 0;font-size: 16px;}
    }
  }
}
#header .container_header .menu_header .tab_menu .menu > li > a {font-size: 28px !important;}
#header .container_header .menu_header .tab_menu .menu li a{font-size: 20px;}
#header .container_header .button_link a{    padding: 6px 15px;}
#header .container_header .menu_header .tab_menu{width: 100%;max-width: 100%;z-index: 9;}
#header.get-in-touch .container_header {height: 90px;}
#header.get-in-touch .container_header .menu_header .icon_menu{position: relative;top:unset}
#header .container_header .menu_header .close_menu{height: 50px;padding-left: 55px;margin-bottom: 0;}
body.hidden{overflow: hidden;}
#header .container_header .menu_header .tab_menu .menu{padding-bottom: 50px;}
#header .container_header .menu_header{padding-right: 25px;}
#header .container_header .menu_header .tab_menu .menu > li{
  padding: 20px 55px 20px 55px;
}
#header .container_header .menu_header .tab_menu .menu > li .sub-menu li{margin-bottom: 15px;}
#header .container_header .menu_header .tab_menu .menu > li > a{padding-bottom: 5px;margin-bottom: 20px;}

#header.the-team{
  .logo_desktop_team{display: block;}
  .logo_mobile_team{display: none;}
  .container_header .menu_header .icon_menu{
    img{display: none;}
    top: 47px;
    height: 2px;
    width: 26px;
    background: #5F5346;
    &:before{
      content: '';
      top: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      position: absolute;
      background: #5F5346;
    }
    &:after{
      content: '';
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      position: absolute;
      background: #5F5346;
    }
  }
}
}
@media (max-width: 1700px){
  #header .container_header .menu_header .tab_menu .menu > li .sub-menu li{margin-bottom: 15px;}
  #header .container_header .menu_header .tab_menu .menu > li > a{padding-bottom: 5px;margin-bottom: 20px;}
  #header .container_header .menu_header .close_menu{margin-bottom: 5px;}
}

