.content_page_about .banner_top {
  background-size: cover !important;
}
.content_page_about .banner_top .content_banner {
  max-width: -webkit-max-content;
  max-width: max-content;
  text-align: center;
}
.content_page_about .banner_top .title_banner, .content_page_about .banner_top .text {
  color: #fff;
}
.content_page_about .banner_top .title_banner {
  font-size: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.content_page_about .banner_top .title_banner:after {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 58px;
  margin-top: 45px;
}
.content_page_about .banner_top .title_banner img {
  margin-left: 30px;
  width: 63px;
  margin-bottom: 5px;
}
.content_page_about .banner_top .text {
  font-size: 30px;
}
.content_page_about .banner_top .text p {
  line-height: 50px;
  font-family: Mulish-Regular;
}
.content_page_about .section.content_page_about {
  background: #DDD7CE;
}
.content_page_about .section.content_page_about .text p {
  line-height: 1.6em;
}
.content_page_about .section.content_page_about h1.title {
  color: #5F5346;
  font-size: 70px;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}
.content_page_about .section.content_page_about h1.title:after {
  content: "";
  display: block;
  background: #5F5346;
  width: 100%;
  height: 1px;
  margin-bottom: 55px;
  margin-top: 45px;
}
.content_page_about .section.content_page_about .text {
  text-align: center;
}
.content_page_about .section.content_page_about .text p {
  color: #5F5346;
  font-size: 24px;
  line-height: 45px;
}
.content_page_about .section_bottom {
  position: relative;
  background-size: cover !important;
}
.content_page_about .section_bottom .txt {
  transform: unset !important;
}
.content_page_about .section_bottom .text {
  height: 35%;
  position: absolute;
  top: 62%;
  left: 0;
  right: 0;
  z-index: 9999999;
}
.content_page_about .section_bottom .text:hover .text1, .content_page_about .section_bottom .text:hover .text2 {
  transform: unset !important;
}
.content_page_about .section_bottom .text:hover .text2 {
  text-align: right !important;
}
.content_page_about .section_bottom .text .text1 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.content_page_about .section_bottom .text .text1 p {
  font-size: 50px;
  position: absolute;
  bottom: -79px;
  margin-left: 132px;
  letter-spacing: 0.05em;
}
.content_page_about .section_bottom .text .text2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  position: absolute;
  top: 180px;
  right: 0;
  height: 60px;
}
.content_page_about .section_bottom .text .text2 a {
  font-size: 20px;
  color: #fff;
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.content_page_about .section_bottom .text .text2 a:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ease;
}
.content_page_about .section_bottom .text .text2 a:hover:after {
  width: 100%;
  transition: all 0.3s ease;
}
.content_page_about .section_bottom .text .text2 a i {
  margin-left: 15px;
}
.content_page_about .section_bottom .text .img_logo {
  text-align: left;
}
.content_page_about .section_bottom .text .img_logo img {
  width: 182px;
  height: 168px;
}
.content_page_about .section_bottom:before {
  content: " ";
  background: #595148;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
}

@media (max-width: 1600px) {
  .content_page_about .banner_top .text p {
    line-height: 45px;
  }

  .content_page_about .banner_top .title_banner:after {
    margin-bottom: 41.18px;
    margin-top: 31.5px;
  }

  .content_page_about .banner_top .title_banner, .content_page_about .content_page_about h1.title {
    font-size: 55px;
  }

  .content_page_about .section_bottom .text .text1 p {
    font-size: 35px;
    bottom: -40px;
  }

  .content_page_about .banner_top .text, .content_page_about .content_page_about .text {
    font-size: 25px;
  }
}
@media (max-width: 1400px) {
  .content_page_about .section_bottom .text .img_logo img {
    width: 130px;
    height: auto;
  }

  .content_page_about #fullpage .section_bottom .text .text1 p, .content_page_about #fullpage .section_bottom .text div.text1 p {
    margin-left: 95px;
  }

  .content_page_about #fullpage div.section_bottom .text div.text2 {
    top: 115px;
  }

  .content_page_about .section_bottom .text .text1 p {
    bottom: -55px;
  }
}
@media (max-width: 1500px) and (min-width: 1200px) {
  .content_page_about div.section_bottom .text {
    top: 61%;
  }

  .content_page_about .section_bottom .text .img_logo img {
    width: auto;
    height: 121px;
  }
}
@media (max-width: 1023px) {
  .content_page_about .banner_top, .content_page_about .section_bottom {
    height: 100vh;
    background-position: center !important;
  }

  .section.content_page_about {
    padding: 40px 0;
  }
}
@media (max-width: 992px) {
  .content_page_about #fullpage div.section_bottom .text {
    top: 30%;
  }
  .content_page_about #fullpage div.section_bottom .text div.text2 {
    top: 100%;
    right: 15%;
    bottom: -100%;
    height: 65%;
  }
}
@media (max-width: 767px) {
  .content_page_about .banner_top .content_banner {
    margin: auto;
  }
  .content_page_about .section_bottom .text .img_logo img {
    width: 160px;
  }
  .content_page_about #fullpage .section_bottom .text .text2 a {
    font-size: 14px;
  }
  .content_page_about .content_page_about {
    padding: 50px 0;
  }
}
@media (max-width: 580px) {
  .content_page_about .banner_top .title_banner {
    font-size: 45px;
  }

  .content_page_about .content_page_about h1.title {
    font-size: 30px !important;
  }

  .content_page_about .section.content_page_about .text p {
    font-size: 18px;
  }

  .content_page_about .banner_top .text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
  }
  .content_page_about .banner_top .text p {
    line-height: 30px;
  }
  .content_page_about .banner_top .text .txtbr {
    display: block;
  }

  .content_page_about .banner_top .title_banner img {
    width: 50px;
  }

  .content_page_about .content_page_about .text, .content_page_about .content_page_about .text p, .content_page_about .section_bottom .text .text2 a {
    font-size: 13px;
  }

  .content_page_about .banner_top .title_banner:after {
    margin-bottom: 26px;
    margin-top: 26px;
  }

  .content_page_about #fullpage .section_bottom .text .text1 p, .content_home #fullpage .section:first-child .text .text1 p, .content_home #fullpage .slide_home_mobile .text .text1 p {
    margin-left: 84px !important;
    width: calc(100% - 84px);
    font-size: 26px !important;
    text-align: left;
    bottom: -45px;
    line-height: 36px;
  }

  .content_page_about #fullpage .section_bottom .text .img_logo img {
    width: auto;
    height: 110px;
  }

  .content_page_about #fullpage div.section_bottom .text {
    height: calc(100% - 150px);
    top: 150px;
  }
  .content_page_about #fullpage div.section_bottom .text div.text2 {
    display: flex;
    justify-content: center;
    height: auto;
    right: 0 !important;
    width: 100% !important;
    top: auto !important;
    bottom: 132px;
    height: 60px;
  }
  .content_page_about #fullpage div.section_bottom .text div.text2 a {
    margin: auto;
  }

  .content_page_about .section.content_page_about .text .txtbr {
    display: block;
  }
  .content_page_about .section.content_page_about .text br {
    display: none;
  }
  .content_page_about .section.content_page_about .text p {
    margin-bottom: 25px;
  }

  .content_page_about .banner_top .container {
    top: calc(43% - 4px);
  }
}
@media (max-width: 360px) {
  .content_page_about #fullpage .section_bottom .text .text1 p {
    font-size: 23px !important;
  }

  .content_page_about .section.content_page_about .text p, .content_page_about .banner_top .text {
    font-size: 15px;
  }
}
@media (max-width: 1700px) and (min-width: 1200px) {
  .content_page_about div.section_bottom .text {
    top: 61%;
  }

  .content_page_about .section_bottom .text .img_logo img {
    width: auto;
    height: 121px;
  }

  .content_page_about .section_bottom .text {
    height: auto;
    width: 100%;
  }
  .content_page_about .section_bottom .text .text1 p {
    margin-left: 94px;
  }
  .content_page_about .section_bottom .text .container {
    display: flex;
  }
  .content_page_about .section_bottom .text .container .text1 {
    width: 50%;
  }
  .content_page_about .section_bottom .text .container .text2 {
    width: 50%;
    align-items: flex-end;
    position: static;
    height: auto;
    margin-bottom: -20px;
  }
}