.content_home #fullpage .section {
  background-size: cover !important;
  max-height: 100vh;
  background-position: center !important;
  position: relative;
}
.content_home #fullpage .section:before {
  content: " ";
  background: #595148;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;
}
.content_home #fullpage .section .text {
  position: absolute;
  top: 41%;
  left: 0;
  right: 0;
  z-index: 9999999;
}
.content_home #fullpage .section .text img {
  width: -webkit-max-content;
  width: max-content;
}
.content_home #fullpage .section .text .txt {
  width: 100%;
}
.content_home #fullpage .section .text .txt p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.content_home #fullpage .section .text .text1 {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  overflow: hidden;
  top: calc(140px);
}
.content_home #fullpage .section .text .text1 p {
  position: absolute;
  top: calc(50% - 45px);
  transform: translateY(-50%);
  transition: all 2s ease;
  width: -webkit-max-content;
  width: max-content;
  left: 100%;
}
.content_home #fullpage .section .text .img_logo {
  text-align: center;
  margin-bottom: 40px;
}
.content_home #fullpage .section .text .img_logo img {
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
}
.content_home #fullpage .section.content_home .text2 {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  top: calc(50% + 180px);
  transform: translateY(-50%);
}
.content_home #fullpage .section.content_home .text2 p {
  position: absolute;
  top: calc(50% - 30px);
  transform: translateY(-50%);
  transition: all 2s ease;
  width: -webkit-max-content;
  width: max-content;
  right: 100%;
}
.content_home #fullpage .section_bottom .text .img_logo img {
  height: 168px;
}
.content_home #fullpage .section_bottom .txt, .content_home #fullpage .section:first-child .txt, .content_home #fullpage .slide_home_mobile .txt {
  transform: unset !important;
}
.content_home #fullpage .section_bottom .text, .content_home #fullpage .section:first-child .text, .content_home #fullpage .slide_home_mobile .text {
  height: 60%;
}
.content_home #fullpage .section_bottom .text:hover .text1, .content_home #fullpage .section_bottom .text:hover .text2, .content_home #fullpage .section:first-child .text:hover .text1, .content_home #fullpage .section:first-child .text:hover .text2, .content_home #fullpage .slide_home_mobile .text:hover .text1, .content_home #fullpage .slide_home_mobile .text:hover .text2 {
  transform: unset !important;
}
.content_home #fullpage .section_bottom .text .text1, .content_home #fullpage .section:first-child .text .text1, .content_home #fullpage .slide_home_mobile .text .text1 {
  position: relative;
  margin-left: 0px;
  width: unset;
  height: auto;
  left: unset;
  overflow: unset;
  top: unset;
}
.content_home #fullpage .section_bottom .text .text1 p, .content_home #fullpage .section:first-child .text .text1 p, .content_home #fullpage .slide_home_mobile .text .text1 p {
  font-size: 50px;
  position: absolute;
  bottom: -72px;
  line-height: 60px;
  margin-left: 145px;
  left: unset;
  top: unset;
  transition: unset;
  transform: unset;
  left: 0 !important;
  letter-spacing: 0.05em;
}
.content_home #fullpage .section_bottom .text .text1:hover p, .content_home #fullpage .section:first-child .text .text1:hover p, .content_home #fullpage .slide_home_mobile .text .text1:hover p {
  left: 0;
}
.content_home #fullpage .section_bottom .text .img_logo, .content_home #fullpage .section:first-child .text .img_logo, .content_home #fullpage .slide_home_mobile .text .img_logo {
  text-align: left;
}
.content_home #fullpage .section_bottom .text .img_logo img, .content_home #fullpage .section:first-child .text .img_logo img, .content_home #fullpage .slide_home_mobile .text .img_logo img {
  width: 200px;
  margin: unset;
}
.content_home #fullpage .section_bottom div.text2, .content_home #fullpage .slide_home_mobile div.text2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: unset;
  height: auto;
  overflow: unset;
  top: unset;
}
.content_home #fullpage .section_bottom div.text2 a, .content_home #fullpage .slide_home_mobile div.text2 a {
  font-size: 20px;
  color: #fff;
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.content_home #fullpage .section_bottom div.text2 a:after, .content_home #fullpage .slide_home_mobile div.text2 a:after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ease;
}
.content_home #fullpage .section_bottom div.text2 a:hover:after, .content_home #fullpage .slide_home_mobile div.text2 a:hover:after {
  width: 100%;
  transition: all 0.3s ease;
}
.content_home #fullpage .section_bottom div.text2 a i, .content_home #fullpage .slide_home_mobile div.text2 a i {
  margin-left: 15px;
}
.content_home #fullpage .section_bottom div.text2 p, .content_home #fullpage .slide_home_mobile div.text2 p {
  transform: unset;
  white-space: unset;
}
.content_home #fullpage div.section_bottom .text {
  height: 35%;
  top: 62%;
}
.content_home #fullpage div.section_bottom .text div.text2 {
  top: 200px;
  right: 0;
  height: 60px;
}
.content_home #fullpage div.section_bottom .text div.text2 a {
  letter-spacing: 0.15em;
}
.content_home #fullpage .section.slide_home .text {
  z-index: 3;
  top: calc(23% + 2px);
}
.content_home #fullpage .section.slide_home .text .textt2 {
  transform: rotate(180deg) !important;
  position: absolute;
  bottom: 0;
}
.content_home #fullpage .section.slide_home .text .textt2 h4 {
  font-size: 36px;
  text-align: right;
  transition: all 1.5s ease;
  transform: rotate(180deg);
  height: auto;
  position: relative;
  bottom: -150px;
  letter-spacing: 0.05em;
  color: #fff;
  padding-top: 30px;
}
.content_home #fullpage .section.slide_home .text .textt2 .description_slide_home .box_description {
  width: -webkit-max-content;
  width: max-content;
  position: relative;
  overflow: hidden;
}
.content_home #fullpage .section.slide_home .text .textt2 .description_slide_home .box_description:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 2px;
  display: block;
  transition: all 1.5s ease;
  bottom: 0;
  right: 0;
}
.content_home #fullpage .section.slide_home .text .textt2 .description_slide_home.swiper-slide-active .box_description h4 {
  animation: show_animation1 2.5s forwards 1.5s;
}
.content_home #fullpage .section.slide_home .text .textt2 .description_slide_home.swiper-slide-active .box_description:after {
  animation: bordertop 4.3s forwards 0.8s;
}
@keyframes show_animation1 {
  0% {
    bottom: -150px;
    transition: all 1.5s ease;
  }
  25% {
    bottom: 0;
    transition: all 1.5s ease;
  }
  50% {
    bottom: 0;
    transition: all 1.5s ease;
  }
  70% {
    bottom: 0;
    transition: all 1.5s ease;
  }
  100% {
    bottom: -150px;
    transition: all 1.5s ease;
  }
}
@keyframes bordertop {
  0% {
    width: 0%;
    transition: all 1.5s ease;
  }
  25% {
    width: 100%;
    transition: all 1.5s ease;
  }
  50% {
    width: 100%;
    transition: all 1.5s ease;
  }
  70% {
    width: 100%;
    transition: all 1.5s ease;
  }
  100% {
    width: 0%;
    transition: all 1.5s ease;
  }
}
.content_home #fullpage .section.slide_home .bgSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.content_home #fullpage .section.slide_home .bgSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.content_home #fullpage .section_bottom .text .img_logo img {
  width: 182px;
}

@media (max-width: 1900px) {
  .content_home #fullpage .section.slide_home .text .textt2 h4 {
    font-size: 28px;
  }
}
@media (max-width: 1700px) {
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -45px;
  }

  .content_home #fullpage div.section_bottom .text .text1 p {
    margin-left: 94px;
  }
}
@media (max-width: 1600px) {
  .content_home #fullpage .section.slide_home .text .text2 {
    width: 55%;
  }
  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home .box_description h4 {
    font-size: 26px;
  }
  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home h4 {
    font-size: 26px;
  }
  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home {
    overflow: hidden;
    bottom: 0;
  }
  .content_home #fullpage .section .text .txt p {
    font-size: 30px;
  }
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -12px;
  }
}
@media (max-width: 1400px) {
  .content_home #fullpage .section_bottom .text .img_logo img, .content_home #fullpage .section:first-child .text .img_logo img {
    width: 130px;
    height: auto;
  }
  .content_home #fullpage .section:first-child .text div.text1 p {
    font-size: 35px;
    bottom: -55px;
    margin-left: 93px;
    line-height: 1.3;
  }
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -28px;
  }
  .content_home #fullpage .section .text .img_logo {
    margin-bottom: 25px;
  }
  .content_home #fullpage div.section_bottom .text div.text2 {
    top: 115px;
  }
  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home h4 {
    margin-top: 20px;
    line-height: 1.3;
  }
}
@media (max-width: 1500px) and (min-width: 1200px) {
  .section.slide_home .text .text2 .description_slide_home h4 {
    margin-top: 20px;
    line-height: 1.3;
  }

  .content_home #fullpage .section .text {
    top: 35%;
  }

  .content_home #fullpage div.section_bottom .text {
    top: 61%;
  }

  .content_home #fullpage .section_bottom .text .img_logo img {
    width: auto;
    height: 121px;
  }
}
@media (max-width: 767px) and (min-width: 581px) {
  .content_home #fullpage .section.content_home .text .text1 p, .content_home #fullpage .section .text .text2 p {
    font-size: 20px !important;
  }

  .content_home #fullpage .section .text .text2 {
    height: 100% !important;
    bottom: -170% !important;
  }

  .content_home #fullpage .section .text .text2 p {
    width: 60% !important;
  }
}
@media (max-width: 1350px) {
  .content_home #fullpage .section.slide_home .text .text1 p {
    text-align: left;
  }
  .content_home #fullpage .section.slide_home .text .text2 {
    width: 90%;
  }
  .content_home #fullpage .section_bottom .text .text1 p {
    text-align: left !important;
  }
  .content_home #fullpage .section .text .txt p {
    width: 70%;
  }
  .content_home #fullpage .section.content_home .text .text1 p {
    text-align: right;
  }
  .content_home #fullpage .section:nth-child(4) .text .txt p {
    width: 63%;
    display: flex;
    flex-wrap: wrap;
  }
  .content_home #fullpage .section:nth-child(4) .text .text1 p {
    justify-content: flex-end;
    top: calc(50% - 15px);
  }
  .content_home #fullpage .section:nth-child(4) .text .text2 p {
    top: 70%;
  }

  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home .box_description h4 {
    padding-top: 25px;
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -55px;
    line-height: 1.5em;
  }
}
@media (max-width: 1024px) {
  .content_home #fullpage .section_bottom .text .txt.text1, .content_home #fullpage .section:first-child .text .text1, .content_home #fullpage .section_bottom .text .text2 {
    transform: unset !important;
    text-align: unset !important;
    width: unset !important;
  }

  .content_home #fullpage .section.slide_home .text .text2 p {
    height: 100px;
  }

  .content_home #fullpage .section.slide_home .text .text2 p::before {
    width: 100%;
  }

  .content_home #fullpage .section.slide_home .text .text1 p {
    font-size: 35px;
    bottom: -55px;
  }

  .content_home #fullpage .section_bottom .text .text1 p {
    bottom: -55px;
  }
}
@media (max-width: 1023px) {
  .content_home #fullpage .section {
    display: flex;
    height: 550px;
  }
  .content_home #fullpage .section .text .img_logo {
    margin-bottom: 30px;
  }
  .content_home #fullpage .section.slide_home img {
    width: 100%;
    height: auto;
  }
  .content_home #fullpage .section.slide_home .text .text2 p {
    font-size: 28px;
    width: 300px;
  }

  .content_home #fullpage .section_bottom .text .img_logo img, .content_home #fullpage .section:first-child .text .img_logo img, .content_home #fullpage .section .text .img_logo img {
    width: 100px;
    height: auto;
  }
  .content_home #fullpage .section.slide_home {
    height: 100vh;
  }
  .content_home #fullpage div.section_bottom .text div.text2 {
    right: 25px;
  }
  .content_home #fullpage .section.slide_home .swiper-container, .content_home #fullpage .content_home #fullpage .section img {
    height: auto;
  }
  .content_home #fullpage .section.slide_home.slide_home_mobile .text {
    height: 100vh;
    position: relative;
  }
  .content_home #fullpage .section.section_bottom {
    height: 100vh;
  }
  .content_home #fullpage div.section_bottom .text .text1 p, .content_home #fullpage div.section:first-child .text .text1 p, .content_home #fullpage div.slide_home_mobile .text .text1 p {
    bottom: -55px;
    margin-left: 73px;
    width: calc(100% - 100px);
    font-size: 35px;
  }
  .content_home #fullpage .section.slide_home.slide_home_mobile .text {
    top: 0;
  }
  .content_home #fullpage .section.slide_home.slide_home_mobile .text .txt.text1 {
    margin-top: 30%;
  }
  .content_home #fullpage .section.slide_home.slide_home_mobile .text .txt.text2 {
    margin-bottom: 15%;
    width: 80%;
    padding: 0 25px;
  }
  .content_home #fullpage .section .text {
    top: 25%;
  }
  .content_home #fullpage .section.content_home .text .text1 {
    height: 65%;
    top: unset;
    bottom: -50%;
  }
  .content_home #fullpage .section.content_home .text .text1 p {
    width: 45%;
    text-align: right;
    font-size: 23px;
    top: 60%;
  }
  .content_home #fullpage .section .text .text2 {
    height: 65%;
    right: 0%;
    top: unset;
    bottom: -100%;
  }
  .content_home #fullpage .section .text .text2 p {
    width: 45%;
    text-align: left;
    font-size: 23px;
    top: 65%;
  }
  .content_home #fullpage .section:nth-child(4) .text .txt p {
    width: 50%;
  }
  .content_home #fullpage div.section_bottom .text {
    top: 40%;
  }
  .content_home #fullpage div.section_bottom .text div.text2 {
    top: 100%;
  }
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -65px;
  }

  .content_home #fullpage .section.content_home .text .text1 p {
    right: 0;
    left: unset;
  }

  .content_home #fullpage .section.content_home .text .text2 p {
    left: 0;
    right: unset;
  }

  .content_home #fullpage .section .text .text2 {
    bottom: -135%;
  }
}
@media (max-width: 992px) {
  .content_home #fullpage .section:nth-child(4) .text .txt p {
    width: 80%;
  }

  @keyframes show_text_section3_top {
    from {
      left: 100%;
    }
    to {
      left: 10%;
    }
  }
  @keyframes show_text_section3_bottom {
    from {
      right: 100%;
    }
    to {
      right: 5%;
    }
  }
  .content_home #fullpage .section.slide_home .text .textt2 {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .content_home #fullpage .section .text .img_logo {
    margin-bottom: 15px;
  }
  .content_home #fullpage .section_bottom .text .text1, .content_home #fullpage .content_home #fullpage .section:first-child .text .text1 {
    margin-left: 0;
  }
  .content_home #fullpage .section .text {
    z-index: 4;
  }
  .content_home #fullpage .section.slide_home .text .text2 p {
    font-size: 18px;
    height: auto;
    width: 190px;
  }
  .content_home #fullpage .section_bottom .text .text2 a, .content_home #fullpage .content_home #fullpage .section:first-child .text .text2 a {
    font-size: 14px;
  }

  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home {
    right: 30px;
  }
}
@media (max-width: 580px) {
  .content_home #fullpage .section.slide_home .text .textt2 h4 {
    padding-top: 15px;
  }

  .content_home #fullpage .section.slide_home .text .textt2 h4 {
    font-size: 20px;
  }

  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home .box_description h4 {
    padding-top: 10px;
  }

  .content_home #fullpage .section.slide_home.slide_home_mobile .text .txt.text1 {
    margin-top: 140px;
  }

  .content_home #fullpage div.section.slide_home .text .text2 .description_slide_home {
    right: 0px;
  }
  .content_home #fullpage div.section.slide_home .text .text2 .description_slide_home h4 {
    font-size: 20px !important;
    line-height: 30px;
  }
  .content_home #fullpage div.section.slide_home .text .text2 .description_slide_home h4 .txtbr {
    display: block;
  }

  .content_home #fullpage .section.content_home .text .text1 p {
    left: 0%;
    font-size: 18px;
    line-height: 22px;
  }

  .content_home #fullpage .section.content_home .text .text2 p {
    right: 0%;
    font-size: 18px;
    line-height: 22px;
  }

  .content_home #fullpage .section {
    height: 300px;
  }

  .content_home #fullpage .section:first-child .text .text2 {
    margin-top: 0;
  }

  .content_home #fullpage .section .text .img_logo img {
    width: auto;
    height: 52px;
  }

  .content_home #fullpage div.section_bottom .text {
    height: calc(100% - 150px);
    top: 150px;
  }

  .content_home #fullpage .section_bottom .text div.text2, .content_page_about #fullpage .section_bottom .text div.text2 {
    display: flex;
    justify-content: center;
    bottom: 25%;
    top: 60% !important;
    height: auto;
    right: 0 !important;
    width: 100% !important;
  }
  .content_home #fullpage .section_bottom .text div.text2 a, .content_page_about #fullpage .section_bottom .text div.text2 a {
    margin: auto;
    font-size: 14px;
  }

  .content_home #fullpage .section_bottom .text .container .text1 p, .content_home #fullpage .section:first-child .text div.text1 p, .content_home #fullpage .slide_home_mobile .text div.text1 p {
    margin-left: 84px;
    width: calc(100% - 84px);
    font-size: 26px !important;
    text-align: left;
    bottom: -45px;
    line-height: 36px;
  }

  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -50px;
  }

  .content_home #fullpage .section_bottom .text .img_logo img, .content_home #fullpage .section:first-child .text .img_logo img {
    width: auto;
    height: 110px;
  }

  .content_home #fullpage .section.content_home .text .txt .txtbr {
    display: block;
    width: 100%;
  }
  .content_home #fullpage .section.content_home .text .txt.text1 {
    width: 50%;
    height: 44px;
    overflow: hidden;
    bottom: -75%;
  }
  .content_home #fullpage .section.content_home .text .txt.text1 p {
    width: 100%;
    position: static;
    transform: none;
  }
  .content_home #fullpage .section.content_home .text .txt.text2 {
    width: 50%;
    height: 66px;
    overflow: hidden;
    bottom: -218%;
  }
  .content_home #fullpage .section.content_home .text .txt.text2 p {
    width: 100%;
    position: static;
    transform: none;
  }

  .content_home #fullpage .section {
    height: 400px;
  }

  .content_home #fullpage .section .text {
    top: 125px;
  }
}
@media (max-width: 400px) {
  .content_home #fullpage .section .text .text2 p, .content_home #fullpage .section .text .text1 p {
    font-size: 14px;
  }

  .content_home #fullpage .section.slide_home .text .text2 .description_slide_home h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .content_home #fullpage .section.slide_home.slide_home_mobile .text .txt.text1 {
    margin-top: 140px;
  }
}
@media (max-width: 360px) {
  .content_home #fullpage .section:first-child .text div.text1 p, .content_home #fullpage div.section_bottom .text .container .text1 p {
    font-size: 22px !important;
  }

  .content_home #fullpage div.section_bottom .text .container .text1 p {
    bottom: -40px;
  }
}
@media (max-width: 1700px) and (min-width: 1200px) {
  .content_home #fullpage div.section_bottom .text {
    top: 61%;
  }

  .content_home #fullpage .section_bottom .text .img_logo img {
    width: auto;
    height: 121px;
  }

  .content_home #fullpage div.section_bottom .text {
    height: auto;
    width: 100%;
  }
  .content_home #fullpage div.section_bottom .text .container {
    display: flex;
  }
  .content_home #fullpage div.section_bottom .text .container .text1 {
    width: 50%;
  }
  .content_home #fullpage div.section_bottom .text .container .text1 p {
    line-height: 1.4;
  }
  .content_home #fullpage div.section_bottom .text .container .text2 {
    width: 50%;
    align-items: flex-end;
    position: static;
    height: auto;
    overflow: inherit;
  }
}