
.get_in_touch {
    background: #726658;
    min-height: 100vh;
    display: flex;
    align-items: center;
    ::placeholder{color: #fff;letter-spacing: 0.06em;    font-family: Mulish-Light;   }
    .container{display: flex;flex-wrap: wrap;}
    .section_left{
        width: 65%;
        color: #fff;
        .content_section{
            margin-top:8%;
            .title{
                font-size: 30px;
                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
                img{
                    max-width:77px;
                    margin-left: 20px;
                    margin-right: 15px;
                }
            }
            p.content{
                font-size: 30px;
                margin-top: 77px;
                max-width: max-content;
                font-family: Mulish-Light;
                line-height: 1.6em;
                letter-spacing: 0.05em;
            }
        }
    }
    .section_right{
        width: 35%;
        padding-top: 201px;
        .contact_form{
            form{
                select, input{
                    background: unset;
                    border: unset;
                    border-bottom: 2px solid #fff;
                    color: #fff;
                    font-size: 20px;
                    margin-top: 20px;
                    font-family: Mulish-Light;
                    outline: none;
                    border-radius: 0;
                    box-shadow: none;
                    padding-bottom: 10px; 
                    appearance: none;
                }
                .wpcf7-form-control.wpcf7-submit{
                    background: #fff;
                    color: #707070;
                    font-size: 23px;
                    width: 150px;
                    height: 50px;
                    border-radius: 10px;
                    margin-top: 70px;
                    border-bottom: 0;
                    letter-spacing: 0.1em;
                    font-weight: 600;
                    appearance: none;
                    padding: 0;
                    &:hover{
                        background:#726658 ;
                        color: #fff;
                        border:1px solid #fff;
                    }
                }
                select{
                    option{
                        background: #696158;
                    }
                }
                label {
                    max-height: 40px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &:first-child{
                        display: inline-flex;padding-right: 21px; height: 80px;max-height: 80px;
                        select{
                            border-bottom: none;    padding-right: 25px;    
                            
                        }
                        >span{
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 2px;
                                background: #fff;
                                left: 0;
                            }
                        }
                    }
                    i{
                        color: #fff;
                        position: absolute;
                        right: 25px;
                        top: calc(50% + 5px);
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    
}
@media (max-width: 1600px) and (min-width: 1200px) {
    .get_in_touch {
        .section_left .content_section{
                margin-top: 100px;
                p.content{font-size: 20px;margin-top: 45px;}
            }
        .section_right{
            padding-top: 195px;
            .contact_form{
                form{
                    select , input{
                        font-size: 13px;
                        margin-top: 0px;
                        padding-bottom: 10px;

                    }
                    label i{
                        top: calc(48%);
                        font-size: 15px;
                    }
                    .wpcf7-form-control.wpcf7-submit{
                        font-size: 18px;
                        width: 120px;
                        height: 35px;
                        margin-top: 30px
                    }
                }
            }
        }
    } 

 }
 @media (max-width: 1366px) and (min-width: 1200px) { 
    .get_in_touch .container {
        width: 74% !important;
    }
    .footer_section .content_footer .footer_left{width: 60% !important;}
    .footer_section .content_footer .footer_right{width: 40% !important;}
 }
 @media (max-width: 1200px) and (min-width: 768px) {  
    .get_in_touch .section_left .content_section p.content , .get_in_touch .section_left .content_section .title{font-size: 20px !important;}
    .get_in_touch .section_right{padding-top: 150px !important;;}
 }

@media (max-width:1600px){ 
    .get_in_touch .section_left{width: 53%;margin-right: 2%;}
    .get_in_touch .section_right {width: 45%;}
    .get_in_touch .section_left .content_section .title{font-size: 25px;}
    .get_in_touch .section_right .contact_form label{
        max-width: 100%;display: flex;
        input{
            width: 100%;
            display: flex;
        }
    }
}

@media (max-width:992px){ 
    .get_in_touch .section_left .content_section p.content, .get_in_touch .section_left .content_section .title{font-size: 20px;;}
    .get_in_touch .section_right .contact_form form select, .get_in_touch .section_right .contact_form form input{font-size: 17px;}
    .get_in_touch .section_right .contact_form form .wpcf7-form-control.wpcf7-submit{font-size: 20px;
        width: 120px;
        height: 40px;}
}
@media (max-width:767px){ 
    .content_page_propety1 .get_in_touch {min-height: auto;padding: 50px 0;}
    .get_in_touch .section_right , .get_in_touch .section_left{width: 100%; margin: 0;}
    .get_in_touch .section_left .content_section{
        .title{justify-content: center;}
        p.content{max-width: 100%;
            margin-top: 15px;text-align: center;}
     }
     .get_in_touch .section_right{
        margin-top: 0px;
        padding-top: 45px;
          .contact_form form{
            width: max-content;
            margin: auto;
            padding: 15px;
            border-radius: 10px;
            .btn-send{text-align: center;}
        }
    }
}
@media (max-width:480px){
    .get_in_touch .section_left .content_section .title{font-size: 20px;}
    .get_in_touch .section_left .content_section p.content{font-size: 18px;}
    .get_in_touch .section_right .contact_form form{width: 98%;}
    .get_in_touch .section_left .content_section .title img{max-width: 40px;}
    .get_in_touch .section_right .contact_form form .wpcf7-form-control.wpcf7-submit{width: 120px;
        height: 30px;
        font-size: 15px;}
    .get_in_touch .section_right .contact_form form select, .get_in_touch .section_right .contact_form form input{font-size: 18px;}
    .wpcf7-form-control-wrap{width: 100%;}
}


//
@media (max-width: 580px){
    .get_in_touch{
        .section_left{
            .content_section{
                .title{
                    justify-content: start;
                }
                p.content{
                    text-align: left;
                    br{display: none;}
                    .txtbr{display: block;}
                }
            }
        }
        .section_right{
            padding: 0;
            .contact_form form{
                background: transparent;
                width: 100%;
                padding: 0;
                .wpcf7-form-control.wpcf7-submit{
                    border-radius: 4px;
                    width: 120px;
                    height: 30px;
                    appearance: none;
                }
            }
        }
    }
    .wpcf7-form-control-wrap{
        text-align: left;
    }
    div.wpcf7 .ajax-loader{
        display: none;
    }
    .get_in_touch .section_right{
        margin-top: 30px;
    }
    .get_in_touch .section_left .content_section p.content{br{display: none;}}
    .page-id-217 .get_in_touch{
        display: block;
        padding-top: 130px;
        padding-bottom: 100px;
    }
}






