/*-------------- Mixin ------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

*[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.5;
}

* {
  outline: none !important;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

a {
  color: #18cfab;
}
a:hover {
  color: #fff;
}

.cb {
  clear: both;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.wpcf7 form .wpcf7-response-output, .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
  font-size: 12px;
  text-align: center;
  border: none;
  background: #ffe8aa;
  margin: 10px 0 0 0;
  padding: 10px;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
}

.wpcf7 form .wpcf7-response-output {
  background: #7bff8f;
}

.container-master {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-master {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-master {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-master {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-master {
    max-width: 1170px;
  }
}
.container-master-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-master {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.333333%;
  }

  .offset-sm-2 {
    margin-left: 16.666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.333333%;
  }

  .offset-sm-5 {
    margin-left: 41.666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.333333%;
  }

  .offset-sm-8 {
    margin-left: 66.666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.333333%;
  }

  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.333333%;
  }

  .offset-md-2 {
    margin-left: 16.666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.333333%;
  }

  .offset-md-5 {
    margin-left: 41.666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.333333%;
  }

  .offset-md-8 {
    margin-left: 66.666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.333333%;
  }

  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.333333%;
  }

  .offset-xl-2 {
    margin-left: 16.666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.333333%;
  }

  .offset-xl-5 {
    margin-left: 41.666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.333333%;
  }

  .offset-xl-8 {
    margin-left: 66.666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.333333%;
  }

  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important;
  }

  .flex-sm-column {
    flex-direction: column !important;
  }

  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-sm-start {
    justify-content: flex-start !important;
  }

  .justify-content-sm-end {
    justify-content: flex-end !important;
  }

  .justify-content-sm-center {
    justify-content: center !important;
  }

  .justify-content-sm-between {
    justify-content: space-between !important;
  }

  .justify-content-sm-around {
    justify-content: space-around !important;
  }

  .align-items-sm-start {
    align-items: flex-start !important;
  }

  .align-items-sm-end {
    align-items: flex-end !important;
  }

  .align-items-sm-center {
    align-items: center !important;
  }

  .align-items-sm-baseline {
    align-items: baseline !important;
  }

  .align-items-sm-stretch {
    align-items: stretch !important;
  }

  .align-content-sm-start {
    align-content: flex-start !important;
  }

  .align-content-sm-end {
    align-content: flex-end !important;
  }

  .align-content-sm-center {
    align-content: center !important;
  }

  .align-content-sm-between {
    align-content: space-between !important;
  }

  .align-content-sm-around {
    align-content: space-around !important;
  }

  .align-content-sm-stretch {
    align-content: stretch !important;
  }

  .align-self-sm-auto {
    align-self: auto !important;
  }

  .align-self-sm-start {
    align-self: flex-start !important;
  }

  .align-self-sm-end {
    align-self: flex-end !important;
  }

  .align-self-sm-center {
    align-self: center !important;
  }

  .align-self-sm-baseline {
    align-self: baseline !important;
  }

  .align-self-sm-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .align-content-md-start {
    align-content: flex-start !important;
  }

  .align-content-md-end {
    align-content: flex-end !important;
  }

  .align-content-md-center {
    align-content: center !important;
  }

  .align-content-md-between {
    align-content: space-between !important;
  }

  .align-content-md-around {
    align-content: space-around !important;
  }

  .align-content-md-stretch {
    align-content: stretch !important;
  }

  .align-self-md-auto {
    align-self: auto !important;
  }

  .align-self-md-start {
    align-self: flex-start !important;
  }

  .align-self-md-end {
    align-self: flex-end !important;
  }

  .align-self-md-center {
    align-self: center !important;
  }

  .align-self-md-baseline {
    align-self: baseline !important;
  }

  .align-self-md-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-column {
    flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-lg-start {
    justify-content: flex-start !important;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }

  .justify-content-lg-center {
    justify-content: center !important;
  }

  .justify-content-lg-between {
    justify-content: space-between !important;
  }

  .justify-content-lg-around {
    justify-content: space-around !important;
  }

  .align-items-lg-start {
    align-items: flex-start !important;
  }

  .align-items-lg-end {
    align-items: flex-end !important;
  }

  .align-items-lg-center {
    align-items: center !important;
  }

  .align-items-lg-baseline {
    align-items: baseline !important;
  }

  .align-items-lg-stretch {
    align-items: stretch !important;
  }

  .align-content-lg-start {
    align-content: flex-start !important;
  }

  .align-content-lg-end {
    align-content: flex-end !important;
  }

  .align-content-lg-center {
    align-content: center !important;
  }

  .align-content-lg-between {
    align-content: space-between !important;
  }

  .align-content-lg-around {
    align-content: space-around !important;
  }

  .align-content-lg-stretch {
    align-content: stretch !important;
  }

  .align-self-lg-auto {
    align-self: auto !important;
  }

  .align-self-lg-start {
    align-self: flex-start !important;
  }

  .align-self-lg-end {
    align-self: flex-end !important;
  }

  .align-self-lg-center {
    align-self: center !important;
  }

  .align-self-lg-baseline {
    align-self: baseline !important;
  }

  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-column {
    flex-direction: column !important;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .justify-content-xl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }

  .justify-content-xl-between {
    justify-content: space-between !important;
  }

  .justify-content-xl-around {
    justify-content: space-around !important;
  }

  .align-items-xl-start {
    align-items: flex-start !important;
  }

  .align-items-xl-end {
    align-items: flex-end !important;
  }

  .align-items-xl-center {
    align-items: center !important;
  }

  .align-items-xl-baseline {
    align-items: baseline !important;
  }

  .align-items-xl-stretch {
    align-items: stretch !important;
  }

  .align-content-xl-start {
    align-content: flex-start !important;
  }

  .align-content-xl-end {
    align-content: flex-end !important;
  }

  .align-content-xl-center {
    align-content: center !important;
  }

  .align-content-xl-between {
    align-content: space-between !important;
  }

  .align-content-xl-around {
    align-content: space-around !important;
  }

  .align-content-xl-stretch {
    align-content: stretch !important;
  }

  .align-self-xl-auto {
    align-self: auto !important;
  }

  .align-self-xl-start {
    align-self: flex-start !important;
  }

  .align-self-xl-end {
    align-self: flex-end !important;
  }

  .align-self-xl-center {
    align-self: center !important;
  }

  .align-self-xl-baseline {
    align-self: baseline !important;
  }

  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}
/*Import Font Roboto*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
/*End Import Font Roboto*/
/*Import Font Helvetica*/
@font-face {
  font-family: "Helvetica Light";
  src: url("../fonts/Helvetica/helveticaneuelight.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/Helvetica/helveticaneuebold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Medium";
  src: url("../fonts/Helvetica/helveticaneuemedium.ttf") format("truetype");
}
/*End Import Font Helvetica*/
/*Import Font Montserrat*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
/*End Import Font Montserrat*/
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype");
}
#header {
  position: relative;
  width: 100%;
  z-index: 999999999;
  display: flex;
  justify-content: center;
}
#header .container_header {
  width: 1760px;
  margin: auto;
  display: flex;
  position: absolute;
  height: 140px;
}
#header .container_header .logo_header, #header .container_header .menu_header {
  width: 50%;
  display: flex;
  align-items: center;
}
#header .container_header .logo_header img {
  max-width: 120px;
}
#header .container_header .menu_header {
  justify-content: flex-end;
}
#header .container_header .menu_header .icon_menu {
  text-align: right;
}
#header .container_header .menu_header .icon_menu i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#header .container_header .menu_header .tab_menu {
  right: 0;
  position: fixed;
  width: 460px;
  max-width: 90%;
  height: 100vh;
  max-height: 100vh;
  top: 0;
  box-sizing: border-box;
  transition: all 0.6s ease;
  overflow: auto;
  z-index: 9999999999;
  background: #fff;
  transform: translateX(100%);
  opacity: 0;
}
#header .container_header .menu_header .tab_menu .menu li {
  text-align: right;
}
#header .container_header .menu_header .tab_menu .menu li a {
  color: #5f5346;
}
#header .container_header .menu_header .tab_menu .menu > li {
  padding: 20px 80px 20px 80px;
}
#header .container_header .menu_header .tab_menu .menu > li > a {
  font-size: 30px;
  border-bottom: 1px solid #5f5346;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.05em;
}
#header .container_header .menu_header .tab_menu .menu > li .sub-menu li {
  margin-bottom: 25px;
}
#header .container_header .menu_header .tab_menu .menu > li .sub-menu li a {
  font-size: 20px;
  letter-spacing: 0.05em;
}
#header .container_header .menu_header .active {
  opacity: 0.9;
  transform: translateX(0%);
  transition: all 0.6s ease;
}
#header .container_header .menu_header .close_menu {
  height: 85px;
  display: flex;
  align-items: flex-end;
  padding-left: 80px;
  margin-bottom: 37px;
}
#header .container_header .button_link {
  display: flex;
}
#header .container_header .button_link a {
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 15px;
  font-size: 14px;
  margin-left: 36px;
  letter-spacing: 0.1em;
}
#header .container_header .button_link a:hover {
  background: #fff;
  color: #5f5346;
}

.logo_mobile_team {
  display: none;
}

@media (max-width: 1400px) and (min-width: 992px) {
  #header .container_header .menu_header .tab_menu {
    width: 360px;
  }

  #header .container_header .menu_header .tab_menu .menu > li {
    padding: 20px 40px 20px 40px;
  }
}
@media (max-width: 1400px) {
  #header .container_header {
    width: 100%;
    height: 95px;
  }

  #header .container_header .logo_header img {
    max-width: 120px;
  }

  #header .container_header .menu_header .icon_menu i {
    font-size: 25px;
  }

  #header .container_header .button_link a {
    font-size: 12px;
  }

  #header .container_header .menu_header .button_link {
    display: flex;
  }
}
@media (max-width: 1023px) {
  #header .container_header .logo_header img {
    width: 55px;
  }

  .logo_mobile_team {
    display: block;
  }

  .logo_desktop_team {
    display: none;
  }
}
@media (max-width: 767px) {
  #header .container_header {
    height: 90px;
  }

  #header .container_header .logo_header img {
    max-width: 85px;
  }

  #header .container_header .menu_header .button_link {
    display: flex;
  }
  #header .container_header .menu_header .button_link a {
    font-size: 10px;
  }

  #header .container_header .menu_header .icon_menu i {
    font-size: 25px;
  }

  #header .container_header .menu_header .tab_menu .menu > li > a {
    font-size: 30px;
  }

  #header .container_header {
    height: 60px;
  }

  #header .container_header .menu_header .icon_menu i, .content_home #fullpage .section_bottom .text .text1 p, .content_home #fullpage .section:first-child .text .text1 p {
    font-size: 20px;
  }
}
@media (max-width: 580px) {
  #header .container_header {
    height: 100vh;
    max-width: 100% !important;
  }
  #header .container_header .logo_header a {
    position: absolute;
    left: 2px;
    top: 0;
  }
  #header .container_header .logo_header img {
    max-width: 50px;
    margin-top: 18px;
    margin-left: 25px;
  }
  #header .container_header .menu_header .icon_menu {
    position: absolute;
    top: 40px;
  }
  #header .container_header .menu_header .icon_menu i {
    font-size: 28px;
  }
  #header .container_header .menu_header .button_link {
    position: absolute;
    bottom: 36px;
    right: 0;
    left: 0;
    justify-content: center;
  }
  #header .container_header .menu_header .button_link a {
    margin: 0;
    font-size: 16px;
  }

  #header .container_header .menu_header .tab_menu .menu > li > a {
    font-size: 28px !important;
  }

  #header .container_header .menu_header .tab_menu .menu li a {
    font-size: 20px;
  }

  #header .container_header .button_link a {
    padding: 6px 15px;
  }

  #header .container_header .menu_header .tab_menu {
    width: 100%;
    max-width: 100%;
    z-index: 9;
  }

  #header.get-in-touch .container_header {
    height: 90px;
  }

  #header.get-in-touch .container_header .menu_header .icon_menu {
    position: relative;
    top: unset;
  }

  #header .container_header .menu_header .close_menu {
    height: 50px;
    padding-left: 55px;
    margin-bottom: 0;
  }

  body.hidden {
    overflow: hidden;
  }

  #header .container_header .menu_header .tab_menu .menu {
    padding-bottom: 50px;
  }

  #header .container_header .menu_header {
    padding-right: 25px;
  }

  #header .container_header .menu_header .tab_menu .menu > li {
    padding: 20px 55px 20px 55px;
  }

  #header .container_header .menu_header .tab_menu .menu > li .sub-menu li {
    margin-bottom: 15px;
  }

  #header .container_header .menu_header .tab_menu .menu > li > a {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  #header.the-team .logo_desktop_team {
    display: block;
  }
  #header.the-team .logo_mobile_team {
    display: none;
  }
  #header.the-team .container_header .menu_header .icon_menu {
    top: 47px;
    height: 2px;
    width: 26px;
    background: #5F5346;
  }
  #header.the-team .container_header .menu_header .icon_menu img {
    display: none;
  }
  #header.the-team .container_header .menu_header .icon_menu:before {
    content: "";
    top: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    background: #5F5346;
  }
  #header.the-team .container_header .menu_header .icon_menu:after {
    content: "";
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    background: #5F5346;
  }
}
@media (max-width: 1700px) {
  #header .container_header .menu_header .tab_menu .menu > li .sub-menu li {
    margin-bottom: 15px;
  }

  #header .container_header .menu_header .tab_menu .menu > li > a {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  #header .container_header .menu_header .close_menu {
    margin-bottom: 5px;
  }
}
.footer_section {
  position: absolute;
  bottom: 0;
  height: 55px;
  display: table;
  table-layout: fixed;
  width: 100%;
  z-index: 99999999;
  top: unset !important;
}
.footer_section .content_footer {
  display: flex;
  flex-wrap: wrap;
}
.footer_section .content_footer .footer_left, .footer_section .content_footer .footer_right {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer_section .content_footer .footer_left .Copyright {
  color: #fff;
  display: flex;
  font-size: 13px;
}
.footer_section .content_footer .footer_left .Copyright a {
  color: #fff;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #fff;
}
.footer_section .content_footer .footer_right {
  justify-content: flex-end;
}
.footer_section .content_footer .footer_right .connect {
  display: flex;
}
.footer_section .content_footer .footer_right .connect .link_connect {
  margin-right: -6px;
}

.page_member .footer_section {
  height: 50px;
}

@media (max-width: 1200px) {
  .footer_section .content_footer .footer_right {
    width: 30%;
  }

  .footer_section .content_footer .footer_left {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .footer_section {
    position: absolute;
    height: auto;
    padding: 15px 0;
  }
}
@media (max-width: 992px) {
  .footer_section .content_footer {
    flex-direction: column-reverse;
  }
  .footer_section .content_footer .footer_right {
    margin-bottom: 10px;
    width: 100%;
  }
  .footer_section .content_footer .footer_right .connect {
    margin: auto;
  }
  .footer_section .content_footer .footer_left {
    width: 100%;
  }
  .footer_section .content_footer .footer_left .Copyright {
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .footer_section .content_footer .footer_left .Copyright .text_Copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer_section .content_footer .footer_left .Copyright .Privacy_Policy {
    border-left: none;
  }
}
@media (max-width: 767px) {
  .page-id-217 #header .container_header .menu_header .button_link {
    display: none;
  }
  .page-id-217 .footer_section {
    position: static;
    background: #726658;
  }
}
@media (max-width: 580px) {
  .content_home #fullpage div.section_bottom .text div.text2 {
    top: auto !important;
    bottom: 132px;
  }

  .footer_section .content_footer .footer_left .Copyright {
    font-size: 12px;
  }

  .footer_section .content_footer .footer_right .connect .link_connect {
    margin: 0;
  }
}
@font-face {
  src: url(../fonts/Muli/static/Mulish-Regular.ttf);
  font-family: Mulish-Regular;
}
@font-face {
  src: url(../fonts/Muli/static/Mulish-Light.ttf);
  font-family: Mulish-Light;
}
@font-face {
  src: url(../fonts/Muli/static/Mulish-SemiBold.ttf);
  font-family: Mulish-SemiBold;
}
html {
  font-size: 10px;
}

body {
  font: 1.8rem/1.3 "Mulish-Regular", sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #999;
}

.container {
  max-width: 1180px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}

.section_bottom .container, .get_in_touch .container {
  max-width: 1420px;
  padding: 0;
  position: relative;
}

#footer .container {
  max-width: 1420px;
  padding: 0;
}

.section.slide_home .container {
  position: relative;
  height: 100%;
  padding: 0;
}

.content_page_propety1 .banner_top_propety .container {
  max-width: 1460px;
  height: 100%;
}

.content_page_about .banner_top .container {
  max-width: 1350px;
  padding: 0;
  position: relative;
  top: calc(22% - 4px);
}

.content_page_work .container {
  max-width: 1570px;
}

ul {
  list-style: none;
}

@media (max-width: 1800px) {
  .container {
    max-width: 62%;
  }

  #header .container_header {
    max-width: 95%;
  }

  .get_in_touch .container, .section_bottom .container, .content_page_propety1 .banner_top_propety .container, #footer .container {
    width: 74%;
  }

  .content_page_work .container {
    width: 80%;
  }

  .content_page_about .banner_top .container {
    width: 70.31%;
  }
}
@media (max-width: 1800px) {
  .section_bottom .container {
    height: 100%;
  }
}
@media (max-width: 1300px) {
  .content_page_work .container {
    width: 95%;
  }

  .get_in_touch .container {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  .section.slide_home .container {
    height: calc(100% - 40%);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 992px !important;
    padding: 0 25px !important;
    margin: 0 !important;
    width: 100% !important;
  }

  .content_page_work .banner_top .container {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .txtbr {
    display: block;
    width: 100%;
  }
}