//Start Import Style
@import 'common/mixin';
@import 'common/common';
@import 'common/grid';
@import '../fonts/fontface';
//End Import Style

// Header
@import "header";

//Footer
@import "footer";

@font-face{
  src:url(../fonts/Muli/static/Mulish-Regular.ttf);
  font-family: Mulish-Regular;
}
@font-face{
  src: url(../fonts/Muli/static/Mulish-Light.ttf);
  font-family: Mulish-Light;
}
@font-face{
  src: url(../fonts/Muli/static/Mulish-SemiBold.ttf);
  font-family: Mulish-SemiBold;
}
html {
  font-size: 10px;
}

body {
  font: 1.8rem/1.3 "Mulish-Regular", sans-serif;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }
}
.container{
  max-width: 1180px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}
.section_bottom .container , .get_in_touch .container{
  max-width: 1420px;
  padding: 0;
  position: relative;
}
#footer .container{max-width: 1420px;padding: 0;}
.section.slide_home .container{position: relative;height: 100%;padding: 0;}

.content_page_propety1 .banner_top_propety .container{ max-width: 1460px; height: 100%;}
.content_page_about{
  .banner_top{
    .container{
      max-width: 1350px;
      padding: 0;
      position: relative;
      top: calc(22% - 4px);
    }
    
  }
}
.content_page_work {
  .container{
    max-width: 1570px;
  }
}
ul{list-style: none;}
@media (max-width:1800px){ 
  .container {max-width:62%;}
  #header .container_header { max-width: 95%; }
  .get_in_touch .container,.section_bottom .container , .content_page_propety1 .banner_top_propety .container , #footer .container{width: 74%;}
  .content_page_work .container{ width: 80%; }
  .content_page_about .banner_top .container{width: 70.31%;}
}

@media (max-width:1800px){ 
  .section_bottom .container{height: 100%;}
}
@media (max-width: 1300px){
  .content_page_work .container {
      width: 95%;
  }
  .get_in_touch .container{width: 90%;}
}
@media (max-width:1023px){
  .section.slide_home .container{
      height: calc(100% - 40%);
  }
 }
@media (max-width:992px){ 
  .container{max-width: 992px !important;padding: 0 25px !important;margin: 0 !important; width: 100% !important;}
  .content_page_work .banner_top  .container{display: flex;align-items: center;}
}


//Responsive
@media (max-width: 580px){
  .txtbr{display: block;width: 100%}
}
@import "responsive";

