/*-------------- Mixin ------------------*/
#page404 .image404 img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: table;
  margin: 0 auto;
}

#page404 .page-content {
  text-align: center;
}
/*# sourceMappingURL=page404.css.map */