@import 'common/mixin';
#page404{
  //margin: 100px 0;
  .image404{
    img{
      width:100%;
      max-width: 1000px;
      height: auto;
      display: table;
      margin: 0 auto;
    }
  }
  .page-content{
    text-align: center;
  }


}