/*-------------- Mixin ------------------*/
#post-detail-banner {
  position: relative;
  z-index: 3;
}

.post-detail-wrapper {
  position: relative;
  z-index: 5;
  margin: -15rem 0 auto;
  font-family: "Helvetica Light";
}

.post-detail-wrapper .container-master {
  width: 100%;
  max-width: 970px;
  padding: 50px 100px;
  background-color: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10rem;
}

.post-detail-wrapper .post-detail-header h1 {
  font-size: 3.6rem;
  color: #18cfab;
  text-align: center;
  margin-bottom: 1rem;
  padding: 3rem 1rem;
}

.post-detail-wrapper .post-detail-header-subtitle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-detail-wrapper .post-detail-header-subtitle ul li {
  padding-right: 2rem;
  color: #666;
  font-size: 1.6rem;
}

.post-detail-wrapper .post-detail-header-subtitle ul li span {
  margin-right: 5px;
}

.post-detail-wrapper .post-detail-main {
  padding: 2rem 0;
}

.post-detail-wrapper #voto-breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 15px;
}

.post-detail-wrapper #voto-breadcrumb ul li {
  font-size: 1.4rem;
  color: #000;
}

.post-detail-wrapper #voto-breadcrumb ul li a {
  color: #000;
}

.post-detail-wrapper #voto-breadcrumb ul li a:hover {
  color: #18cfab;
}

.post-detail-wrapper #voto-breadcrumb ul li a:last-child:after {
  padding: 0 5px;
  content: '\f101';
  font-family: "FontAwesome";
  font-size: 80%;
}

.post-detail-wrapper #voto-breadcrumb ul li:last-child:after {
  display: none;
}

@media (max-width: 991px) {
  .post-detail-wrapper {
    margin: 0px auto;
  }
  .post-detail-wrapper .container-master {
    padding: 0px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .post-detail-wrapper .post-detail-header-subtitle ul li {
    padding-right: 1rem;
    font-size: 1.4rem;
  }
  .post-detail-wrapper .post-detail-header h1 {
    font-size: 2.8rem;
    padding: 1rem;
  }
}
/*# sourceMappingURL=post-detail.css.map */