@import "common/mixin";

#post-detail-banner {
  position: relative;
  z-index: 3;
}

.post-detail-wrapper {
  position: relative;
  z-index: 5;
  margin: -15rem 0 auto;
  font-family: "Helvetica Light";

  .container-master {
    width: 100%;
    max-width: 970px;
    padding: 50px 100px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10rem;

  }

  .post-detail {
    &-header {
      h1 {
        font-size: 3.6rem;
        color: $menu-color;
        text-align: center;
        margin-bottom: 1rem;
        padding: 3rem 1rem;
      }

      &-subtitle {
        ul {
          display: flex;
          justify-content: center;

          li {
            padding-right: 2rem;
            color: #666;
            font-size: 1.6rem;
            span {

              margin-right: 5px;
            }
          }
        }
      }
    }

    &-main {
      padding:2rem 0;
    }
  }

  #voto-breadcrumb {
    ul {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 15px;

      li {
        font-size: 1.4rem;
        color: #000;
        a {
          color: #000;
          &:hover {
            color: $menu-color;
          }
          &:last-child{
            &:after{
              padding: 0 5px;
              content: '\f101';
              font-family: "FontAwesome";
              font-size: 80%;
            }
          }
        }
        &:after {

        }
        &:last-child{
          &:after{
            display: none;
          }
        }
      }

    }
  }
}
@media (max-width: 991px){
  .post-detail-wrapper{
       margin:0px auto;
      .container-master{
        padding:0px 15px;
        box-shadow: none;
      }
      .post-detail-header-subtitle ul li {
        padding-right: 1rem;
        font-size: 1.4rem;
      }
      .post-detail-header h1{
        font-size: 2.8rem;
        padding:1rem;
      }

  }
 
}