.content_page_propety1{
  .banner_top_propety{background-position: center !important; background-size: cover !important; position: relative; .img-banner{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover; &.mb{display: none;}}}
  .section4{
    background: #DDD7CE;
    .slide_propety{
      height: 100vh;
      overflow: hidden;
      .item_slide{
        position: relative;
        height: 100%;
        .name_image{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          overflow: hidden;
          height: 225px;
          display: flex;
          background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(183, 183, 183, 0), rgba(86, 86, 86, 0.8));
          text-align: center;
          h2{
            color: #fff;
            font-size: 24px;
            width: max-content;
            margin: auto;
            margin-bottom: 36px;
            letter-spacing: 0.024em;
            &:after{
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background: #fff;
              margin-top: 10px;
            }
          }
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  img{width: 100%;}
  .banner_top{
    &:before{
      content: " ";
      background: #595148;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0.5;
    }
    position: relative;
    height: 100vh;
    overflow: hidden;
    img{width: 100%;}
    .text{
      position: absolute;
      top: 45%;
      z-index: 2;
      font-family: 'Muli';
      .subtitle{
        font-size: 48px;
        color: #fff;
      }
      h1{
        position: relative;
        font-size: 60px;
        color: #fff;
        height: 0;
        overflow: hidden;
        transition: all 1.5s ease;
        z-index: 1;
        max-width: 670px;
        line-height: 70px;
        letter-spacing: 0.05em;
        padding-top: 21px;
        margin-top: 25px;
        animation: show_text 2.5s forwards 2.5s;
        &::before{
          content:"";
          position: absolute;
          top: 0;
          display: block;
          background: #fff;
          width: 0;
          height: 2px;
          transition: all 1.5s ease;
          animation: show_before 1.5s forwards 1s;
        }
      }
    }
    @keyframes show_text { 
      from{
        height: 0;
      }to{
        height: 300px;
      }
     }
    @keyframes show_before { 
      from{
        width: 0;
      }to{
        width: 100%;
      }
     }
    
  }
  .content_propety1{
    overflow: hidden;
    position: relative;
    height: 100vh;
    .content_box{
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      background: #DDD7CE;
      opacity: 0.9;
      display: flex;
      align-items: center;
      .title{
        font-size: 70px;
        color: #5f5346;
        transition: all 0.6s ease;
        position: absolute;
        left: 0;
        right: 0;
        
      }
      .center_box{
        text-align: center;
        width: 60%;
        margin: auto;
       
        .box{position: relative;}
        .box_title{
          height: 134px;
        }
        .box_content{
          height: 180px;
          &:before{
            content: "";
            background:#5f5346;;
            width: 50%;
            height: 1px;
            display: block;
            transition: all 0.6s ease;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 55px;
          }
        }
        .content{
          font-size: 24px;
          color: #5F5346;
          transition: all 0.6s ease;
          line-height: 40px;
          p{
            margin-bottom: 25px;
          }
        }
        
      }
    }
    img{
      transition: all 0.6s ease;
    }
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }
  .section:nth-child(even){
      .content_propety1{
          .content_box{
            right: 0;
          }
      }
  }
  .section:nth-child(2){
    .content_propety1{
      .content_box {
        .center_box{
          .content{
            font-size: 21px;
            line-height: 40px;
          }
          img{
            width: 200px;
            margin: auto;
            margin-bottom: 70px;
            transform: unset;
          }
        }
      }
      &:hover{
        .center_box{
          img{
            transform: unset;
          }
        }
      }
    }
  }
  .slide_propety{
    width: 74%;
    margin: auto;
    height: 100%;
    .title{
      font-size: 70px;
      color: #5F5346;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 70px;
    }
    .swiper-container{
      height: 70vh;
    }
  }
}
.content_page_propety1.rkohrong .section:nth-child(2) .content_propety1 .content_box .center_box img{width: 300px;}
.content_page_propety1.rhualien {
  .banner_top .text
  { 
    top: 46.5%;
    h1{
      max-width: 65%;
    }
  }
}
.content_page_propety1.rkohrong{
  .banner_top .text{top:60%;
    h1{max-width: 60%;}
  }
  .section:nth-child(2) .content_propety1 .content_box .center_box .title{
    color: #5D6339;
    margin-bottom: 30px;
  }
  .section:nth-child(2){
    .content_propety1{
      .content_box {
        .center_box{
          img{
            width: 359px;
          }
        }
      }
    }
  }
} 
.content_page_propety1.r-skun .banner_top .text {top: 19%;}
.slide_propety {
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{color: #fff;font-size: 80px;}
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{margin-right: 40px;}
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{margin-left: 40px;}
}

@media (max-width: 1800px) and (min-width: 1200px) { 
  .content_page_propety1 .banner_top .text h1{font-size: 55px;}
  .content_page_propety1 .banner_top .text .subtitle{font-size: 40px;}
  .content_page_propety1.r-skun .banner_top_propety{
    .container{position: relative;}
    .banner_top .text{ width: calc(50% - 50px ) !important;}
    .banner_top .text h1 {
      font-size: 40px !important;
      max-width: 100% !important;
    }
  } 
}

@media (max-width: 1200px) and (min-width: 993px) { 
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box img {
    max-width: 110px;
    margin-bottom: 15px;
  }
  .content_page_propety1 .content_propety1 .content_box .center_box p.content, .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box .content{font-size: 18px;}
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box .content{
    font-size: 16px !important;
  }
  .content_page_propety1.rkohrong .banner_top .text h1 , .content_page_propety1.rhualien .banner_top .text h1 {    max-width: 85%;      font-size: 37px !important;  }
  .content_page_propety1.rhualien .banner_top .text h1{max-width: 65%; display: block; height: 0;overflow: hidden;&::before{width: 0;}}
  .content_page_propety1.rkohrong .banner_top .text h1{max-width: 90%; display: block; height: 0;overflow: hidden;&::before{width: 0;}}
  .content_page_propety1.r-skun .banner_top .text h1{max-width: 60%; display: block; height: 0;overflow: hidden;&::before{width: 0;}}

}
@media (max-width: 1023px) and (min-width: 769px) { 
  .content_page_propety1 .banner_top .text h1, .content_page_propety1 .slide_propety .title, .content_page_propety1 .content_propety1 .content_box .title{font-size: 45px !important;}
  .content_page_propety1.rhualien .banner_top .text h1{    font-size: 38px !important;  }

}
@media (max-width: 992px) and (min-width: 768px){
  
 }
@media (max-width:1900px){  
  .content_page_propety1 .content_propety1 .content_box .center_box .content{font-size: 22px;}
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box {
    .content{font-size: 20px;}
    img{    margin-bottom: 45px;    }
  }
}

@media (max-width:1600px){ 
  .content_page_propety1{img{height: 100%;}}
  .get_in_touch .section_left .content_section .title img{height: auto;}
  .content_page_propety1 .banner_top .text h1{font-size: 45px;max-width: 70%;}
  .content_page_propety1 .slide_propety .title{margin-top: 3%;}
  .content_page_propety1 .content_propety1 .content_box {
    .center_box img{top: -70px;left: -15px;max-width: 150px;}
   .title{font-size: 60px;}
   .center_box .box_title{height: 100px;}
   .center_box .box_content:before{margin-bottom: 30px;}
   .center_box{    width: 85%;  }
  }
  .content_page_propety1 .slide_propety .title{font-size: 60px;}
  .content_page_propety1 .content_propety1 .content_box .center_box .content{font-size: 20px;}
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box {
    .content{font-size: 18px;}
    img{    margin-bottom: 45px;    }
  }
  .content_page_propety1 .banner_top .text .subtitle{font-size: 25px;}
  .content_page_propety1.rhualien .banner_top .text h1{font-size: 38px; line-height: 60px;}
}
@media (max-width:1200px){
  .content_page_propety1 .slide_propety { width: 85%; }

 }
@media (max-width:1023px){ 
  .content_page_propety1 img ,   .content_page_propety1 img ,.content_page_propety1 .content_propety1{height: auto;}
  .content_page_propety1 .banner_top{
    height: 100%;
    .container {
      height: 100%;
      .text{
        height: 100%;
        h1{z-index: 99999999;
          position: relative;top: 30%;}
      }
    }
  }
  .content_page_propety1{
    .banner_top:before{z-index: 1;position: absolute;}
    .banner_top .text h1{    overflow: inherit;  }
    .banner_top .text h1 , .slide_propety .title , .content_propety1 .content_box .title {font-size: 50px;}
    .content_propety1 .content_box .center_box p.content , .section:nth-child(2) .content_propety1 .content_box .center_box .content{font-size: 18px;}
    .slide_propety .swiper-container{height: auto;}
    .slide_propety{height: auto !important; padding-bottom: 30px;}
    .content_propety1 img{    transform: unset !important;    }
    .banner_top_propety , .content_page_propety1 .get_in_touch{height: 100vh;}
    .banner_top .text{position: unset;top: 0;z-index: unset;}
    .section_bottom_propety{position: relative;}
    .content_propety1 .content_box .center_box .box_title{height: 80px;}
    .content_propety1 .content_box .center_box .box_content:before{margin-bottom: 20px;}
    .content_propety1 .content_box .center_box{width: 90%;}
  }
}
@media (max-width:992px){
  .content_page_propety1 section:nth-child(2) .content_propety1 .content_box{position: relative;}
  .content_page_propety1 .content_propety1 .content_box .center_box p.content{    font-size: 15px;  }
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box img{max-width: 110px;margin-bottom: 15px;}
  .content_page_propety1 .banner_top .container .text h1{    top: 25%;  }
  .content_page_propety1.rhualien .banner_top .container .text{padding-top: 200px;
    h1{top: 0;}
    .subtitle{position: relative;z-index: 1;}
  }
  .content_page_propety1 .content_propety1 .content_box .center_box .content{br{display: none;}}
}
 @media (max-width:768px){
  .content_page_propety1 .banner_top .text h1 span{font-size: 50px;}
 }
 
 @media (max-width:767px){
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box{position: relative;    padding: 30px 0;width: 100%;padding-top: 60px;}
  .content_page_propety1 .content_propety1 .content_box{width: 100%}
  .content_page_propety1 .section:nth-child(2) .content_propety1{display: flex;flex-wrap: wrap;flex-direction: column;  }
  .content_page_propety1 .slide_propety .title{margin-top: 25px;}
  .content_page_propety1 .content_propety1 .content_box .center_box .box_title , .content_page_propety1 .content_propety1 .content_box .center_box .box_content{height: auto;width: 100%;}
  .content_page_propety1 div.content_propety1 .content_box .title{font-size: 30px; position: relative;}
  .content_page_propety1 .content_propety1.swiper-slide{
    display: flex;flex-wrap: wrap;
    .content_box{
      position: unset;
      height: auto;
      .center_box{
        padding: 20px 0;
      }
    }
  }
  .content_page_propety1 .slide_propety{width: 95%;}
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{font-size: 25px !important;}
  div.content_page_propety1 .get_in_touch{
    padding-bottom: 200px;
  }
  .content_page_propety1 .content_propety1 .content_box .center_box .box_content:before{display: none;}
  .content_page_propety1 div.content_propety1 .content_box .title{
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #5f5346;
      height: 1px;
    }
  }
  .content_page_propety1 .slide_propety .title{margin-bottom: 20px;}
  .content_page_propety1.rhualien .banner_top .container .text{
    padding-top: 135px;
    .subtitle{
      font-size: 18px;
      position: relative;
      z-index: 1;
    }
    h1{
      font-size: 30px;
      top: 0%;
      &:before{
        margin-bottom: 25px;
        margin-top: 0px;
      }
    }
  }
  .content_page_propety1 .banner_top .container .text{
    padding-top: 110px;
    .subtitle{
      font-size: 18px;
    }
    h1{
      font-size: 29px;
      line-height: 1.5em;
    }
  }
  .content_page_propety1 .content_propety1 .content_box{
    position: relative; padding: 20px 0 30px 0;
    br{display: none;}
    .txtbr{display: block;}
  }
}
 @media (max-width:580px){
  .content_page_propety1 .content_propety1 .content_box .center_box{width: 95%;}
  .content_page_propety1 .slide_propety .title , .content_page_propety1 .banner_top .text h1 { font-size: 30px; }
  .content_page_propety1 .content_propety1 .content_box .title {font-size: 50px;}
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{font-size: 20px !important;}
  .content_page_propety1 .banner_top .text h1 span{    font-size: 30px;  }
  .content_page_propety1 .content_propety1 .content_box .center_box p.content , .content_page_propety1 .slide_content_propety1 .content_box .center_box p.content{font-size: 18px !important;br{display: none;}}
  .content_page_propety1 .section4 .slide_propety .item_slide .name_image h2{font-size: 14px;  }
  .content_page_propety1 .banner_top{z-index: 1;}
  .content_page_propety1 .banner_top .text h1 , .content_page_propety1.rkohrong .banner_top .text h1 , .content_page_propety1.rhualien .banner_top .text h1{ width: max-content; max-width: 90%; }
  .content_page_propety1.r-skun .banner_top .container .text h1{top:5%;    line-height: 36px;
    letter-spacing: 0.05em;
    display: block; height: 0;overflow: hidden; &::before{width: 0;}}
  .content_page_propety1.rhualien .banner_top .container .text {
    .subtitle{
      font-size: 22px;
    }
    h1{
      margin-top: 20px;
      line-height: 36px;
      letter-spacing: 0.05em;
      display: block; height: 0;overflow: hidden; &::before{width: 0;}
      top: 0;}
  }
  .content_page_propety1.rkohrong .banner_top .text{
    padding-top: 110%;
    h1{
      top: -30px;
      line-height: 36px;
      letter-spacing: 0.05em;
      display: block; height: 0;overflow: hidden; &::before{width: 0;}
    }
  }
  .content_page_propety1 .banner_top .container .text h1{.txtbr{display: block;}}
  .content_page_propety1.r-skun .section:nth-child(2) .content_propety1 .content_box .center_box{
    padding-top: 0;
    padding-bottom: 0;
    .content{
      p{
        margin-bottom: 20px;
      }
      br{display: none;}
    }
  }
  .content_page_propety1 .section:nth-child(2) .content_propety1 .content_box .center_box img{width: auto !important; max-width: none !important;  height: 118px;}
  .content_page_propety1.rkohrong .section:nth-child(2) .content_propety1 .content_box .center_box img{height: 128px; margin-bottom: 25px;}
  .content_page_propety1.r-skun .content_propety1 .content_box .center_box{width: 100%;padding: 20px;}
  .content_page_propety1.rkohrong .section:nth-child(2) .content_propety1 .content_box .center_box{
    padding-top: 0;
    padding-bottom: 0;
    .content{
      p{
        margin-bottom: 20px;
      }
      br{display: none;}
    }
  }
  .content_page_propety1.rkohrong .content_propety1 .content_box .center_box{width: 100%;padding: 20px;}
  .content_page_propety1 .content_propety1 .content_box .center_box .content{
    .txtbr{display: block;}
    br{display: none;}
  }
  .content_page_propety1{
    .slide_propety .swiper-button-next:after{
      margin-right: 15px;
    }
    .slide_propety .swiper-button-prev:after{
      margin-left: 15px;
    }
  }
  .content_page_propety1 .banner_top_propety .img-banner{
    &.mb{display: block;}
    &.dt{display: none;}
  }
}
@media (max-width:375px){ 
  .content_page_propety1 .banner_top .text h1, .content_page_propety1.rkohrong .banner_top .text h1, .content_page_propety1.rhualien .banner_top .text h1{max-width: 100%;}
  .content_page_propety1.rhualien .banner_top .container .text h1{font-size: 23px;}
  .content_page_propety1 .banner_top .container .text h1{font-size: 24px;}
}
@media (min-width: 1890px){
  .content_page_propety1 .content_propety1 .content_box .center_box{padding-top: 15px;}
  .content_page_propety1 .slide_content_propety1  .content_propety1 .content_box .center_box{  margin-top: 259px;padding-top: 0;  }

}










