@import "common/mixin";

.search-blog {
  padding: 3rem 0;
  min-height: 50vh;
  font-family: "Helvetica Light";

  .list-title-category {
    li {
      display: flex;
      flex-direction: row;

      h1 {
        padding-left: 4px;
      }
    }
  }

  .blog-item {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px 0px;

    a {
      margin-right: 20px;
      width: 230px;
      max-width: 230px;
      height: 160px;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    &-info {
      display: flex;
      flex-direction: column;

      .blog-title {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 2rem;

        a {
          color: #000;
          transition: all 0.5s ease;

          &:hover {
            color: $menu-color;
          }
        }
      }

      .blog-subtitle {
        font-size: 1.5rem;
        color: #666;
      }

      .post-detail-header-subtitle {
        ul {
          display: flex;
          flex-direction: row;

          li {
            font-size: 1.4rem;
            margin-right: 1.5rem;

            span {
              padding-right: 4px;
            }
          }
        }
      }
    }
  }


}

.m-bt20 {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .search-blog {

    .blog-item {
      width: 100%;
      padding: 20px 0px;
    }
  }
}

@media (max-width: 575px) {
  .search-blog {
    .blog-item {

      flex-direction: column;

      a {
        margin-right: 0px;

        img {
          max-width: 100%;
          height: auto;
        }
      }

      &-info {
        .blog-title {
          font-size: 1.8rem;
        }

        .blog-subtitle {
          font-size: 1.4rem;
          color: #666;
        }

        .post-detail-header-subtitle {
          ul {
            display: flex;
            flex-direction: row;

            li {
              font-size: 1.4rem;
              margin-right: 1.5rem;

              span {
                padding-right: 4px;
              }
            }
          }
        }
      }
    }
  }
}