/*-------------- Mixin ------------------*/
.search-blog {
  padding: 3rem 0;
  min-height: 50vh;
  font-family: "Helvetica Light";
}

.search-blog .list-title-category li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-blog .list-title-category li h1 {
  padding-left: 4px;
}

.search-blog .blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  padding: 20px 0px;
}

.search-blog .blog-item a {
  margin-right: 20px;
  width: 230px;
  max-width: 230px;
  height: 160px;
}

.search-blog .blog-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-blog .blog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-blog .blog-item-info .blog-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
}

.search-blog .blog-item-info .blog-title a {
  color: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.search-blog .blog-item-info .blog-title a:hover {
  color: #18cfab;
}

.search-blog .blog-item-info .blog-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.search-blog .blog-item-info .post-detail-header-subtitle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-blog .blog-item-info .post-detail-header-subtitle ul li {
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.search-blog .blog-item-info .post-detail-header-subtitle ul li span {
  padding-right: 4px;
}

.m-bt20 {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .search-blog .blog-item {
    width: 100%;
    padding: 20px 0px;
  }
}

@media (max-width: 575px) {
  .search-blog .blog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-blog .blog-item a {
    margin-right: 0px;
  }
  .search-blog .blog-item a img {
    max-width: 100%;
    height: auto;
  }
  .search-blog .blog-item-info .blog-title {
    font-size: 1.8rem;
  }
  .search-blog .blog-item-info .blog-subtitle {
    font-size: 1.4rem;
    color: #666;
  }
  .search-blog .blog-item-info .post-detail-header-subtitle ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .search-blog .blog-item-info .post-detail-header-subtitle ul li {
    font-size: 1.4rem;
    margin-right: 1.5rem;
  }
  .search-blog .blog-item-info .post-detail-header-subtitle ul li span {
    padding-right: 4px;
  }
}
/*# sourceMappingURL=search.css.map */