.content_page_work {
  background: #DDD7CE;
}
.content_page_work .banner_top {
  background-size: cover !important;
}
.content_page_work .banner_top .content_banner {
  max-width: -webkit-max-content;
  max-width: max-content;
  text-align: center;
}
.content_page_work .banner_top .title_banner, .content_page_work .banner_top .text {
  color: #fff;
}
.content_page_work .banner_top .title_banner {
  font-size: 70px;
}
.content_page_work .banner_top .title_banner:after {
  content: "";
  background: #fff;
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 60px;
  margin-top: 42px;
}
.content_page_work .banner_top .text {
  font-size: 30px;
  line-height: 50px;
}
.content_page_work .content_item {
  display: flex;
  flex-wrap: wrap;
}
.content_page_work .content_item .item {
  width: calc(100%/3 - 30px);
  margin-left: 30px;
}
.content_page_work .content_item .item .title {
  color: #5F5346;
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
}
.content_page_work .content_item .item .desc {
  color: #5F5346;
  font-size: 21px;
  text-align: center;
  border-top: 1px solid #5F5346;
  padding-top: 30px;
  line-height: 1.8;
}
.content_page_work .content_item .item .thumbnail {
  overflow: hidden;
}
.content_page_work .content_item .item .thumbnail img {
  transition: all 0.6s ease;
}
.content_page_work .content_item .item .thumbnail img:hover {
  transform: scale(1.05);
}
.content_page_work .content_item .item:first-child {
  margin-left: 0px;
}
.content_page_work .banner_bottom {
  overflow: hidden;
  position: relative;
}
.content_page_work .banner_bottom .content_box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #DDD7CE;
  opacity: 0.9;
  display: flex;
  align-items: center;
  right: 0;
}
.content_page_work .banner_bottom .content_box .title {
  font-size: 70px;
  color: #5F5346;
  margin-bottom: 60px;
  font-family: Mulish-Regular;
}
.content_page_work .banner_bottom .content_box .title:after {
  content: "";
  background: #5F5346;
  width: 50%;
  height: 1px;
  display: block;
  margin-top: 45px;
  transition: all 0.6s ease;
  margin-left: auto;
  margin-right: auto;
}
.content_page_work .banner_bottom .content_box .center_box {
  text-align: center;
  width: 75%;
  margin: auto;
}
.content_page_work .banner_bottom .content_box .center_box .content {
  font-size: 24px;
  color: #5F5346;
  line-height: 40px;
}
.content_page_work .banner_bottom .content_box .center_box .content p {
  margin-bottom: 30px;
}
.content_page_work .banner_bottom .content_box .center_box .link {
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
  margin-top: 73px;
}
.content_page_work .banner_bottom .content_box .center_box .link a {
  text-transform: uppercase;
  color: #5F5346;
  margin-right: 10px;
  letter-spacing: 0.18em;
  font-size: 20px;
}
.content_page_work .banner_bottom .content_box .center_box .link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #5F5346;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.6s ease;
}
.content_page_work .banner_bottom .content_box .center_box .link:hover:after {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.6s ease;
}
.content_page_work .banner_bottom img {
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
}
.content_page_work .banner_bottom:hover img {
  transform: scale(1.05);
}
.content_page_work #fullpage .section .fp-tableCell .content_propety1 {
  height: 100vh;
}
.content_page_work .footer_section {
  background: #726658;
  display: flex;
  align-items: center;
}
.content_page_work .footer_section #footer {
  width: 100%;
}

.page_member {
  background: #DDD7CE;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.page_member .footer_section .content_footer .footer_left .Copyright, .page_member .footer_section .content_footer .footer_left .Copyright a {
  color: #7A6E66;
}
.page_member .footer_section .content_footer .footer_left .Copyright a {
  border-left: 2px solid #7A6E66;
}
.page_member .content_page_member {
  min-height: 100vh;
}
.page_member .content_page_member .row {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.page_member .content_page_member .content_left {
  width: 50%;
  display: flex;
  align-items: center;
}
.page_member .content_page_member .content_left .Content {
  display: flex;
  flex-wrap: wrap;
}
.page_member .content_page_member .content_left .Content h1 {
  font-size: 60px;
  color: #7A6E66;
  margin-bottom: 100px;
}
.page_member .content_page_member .content_left .Content h1::after {
  content: "";
  background: #7A6E66;
  height: 2px;
  width: 100%;
  display: block;
  margin-top: 30px;
}
.page_member .content_page_member .content_left .Content p {
  color: #7A6E66;
  font-size: 21px;
  text-align: left;
  max-width: -webkit-max-content;
  max-width: max-content;
  line-height: 2em;
}
.page_member .content_page_member .content_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.page_member .content_page_member .content_right .list_member {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  height: -webkit-max-content;
  height: max-content;
  justify-content: center;
  margin-top: calc(100% - 310px);
}
.page_member .content_page_member .content_right .list_member:after {
  content: "";
  position: absolute;
  display: block;
  height: 100vh;
  background: #726658;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1;
}
.page_member .content_page_member .content_right .list_member .item {
  width: calc(50% - 30px);
  margin-left: 30px;
  z-index: 2;
}
.page_member .content_page_member .content_right .list_member .item .thumbnail {
  max-height: 260px;
  overflow: hidden;
}
.page_member .content_page_member .content_right .list_member .item .name_position_member {
  color: #fff;
  text-align: left;
}
.page_member .content_page_member .content_right .list_member .item .name_position_member .name {
  font-size: 21px;
  margin-top: 25px;
  line-height: 1.6em;
  font-family: Mulish-SemiBold;
}
.page_member .content_page_member .content_right .list_member .item .name_position_member .position {
  font-size: 16px;
  font-family: Mulish-Light;
}
.page_member .content_page_member .title_page {
  font-size: 70px;
  color: #fff;
  width: -webkit-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 40px;
}

@media (max-width: 1600px) {
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .title:after, .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .center_box .link {
    margin-top: 25px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .title {
    margin-bottom: 30px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .center_box .content {
    line-height: 1.5em;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_top .title_banner:after {
    margin-bottom: 42.5px;
    margin-top: 40px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_top .text {
    line-height: 32px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_top .title_banner, .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .title {
    font-size: 50px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .content_page_work .content_item .item .title {
    font-size: 32px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_top .text {
    font-size: 20px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .content_page_work .content_item .item .desc, .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .center_box p.content {
    font-size: 16px;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom img {
    height: 100%;
    object-fit: cover;
  }
  .page_member .content_page_member .content_right .list_member .content_page_work .banner_bottom .content_box .center_box .content {
    font-size: 19px;
  }

  .page_member .content_page_member .content_left .Content h1 {
    font-size: 50px;
    margin-bottom: 60px;
  }
  .page_member .content_page_member .content_left .Content p {
    font-size: 17px;
  }
  .page_member .content_page_member .content_right {
    align-items: center;
  }
  .page_member .content_page_member .content_right .list_member .item .name_position_member .name {
    font-size: 14px;
  }
  .page_member .content_page_member .content_right .list_member .item .name_position_member .position {
    font-size: 12px;
  }
  .page_member .content_page_member .content_right .list_member .item .name_position_member .name {
    margin-top: 15px;
  }
  .page_member .content_page_member .content_right .list_member {
    margin-top: 230px;
  }
}
@media (max-width: 1400px) {
  .content_page_work .content_page_work .content_item .item .desc {
    font-size: 14px;
  }
}
@media (max-width: 1800px) and (min-width: 1200px) {
  .page_member .container {
    max-width: calc(76% + 40px);
  }
  .page_member #footer .container {
    width: 76%;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .page_member .container {
    max-width: 90%;
  }
}
@media (max-width: 1740px) and (min-width: 1025px) {
  .content_page_work .content_item .item .title {
    font-size: 33px;
  }

  .content_page_work .content_page_work .content_item .item .desc {
    font-size: 14px;
  }

  .content_page_work .banner_bottom .content_box .title {
    font-size: 52px;
  }

  .content_page_work .banner_bottom .content_box .center_box .content {
    font-size: 18px;
  }

  .content_page_work .banner_bottom .content_box .title {
    margin-bottom: 25px;
  }

  .content_page_work .banner_bottom .content_box .title:after {
    margin-top: 20px;
  }

  .content_page_work .banner_bottom .content_box .center_box .content p {
    margin-bottom: 10px;
  }

  .content_page_work .banner_bottom .content_box .center_box .link {
    margin-top: 30px;
  }
}
@media (max-width: 1200px) {
  .content_page_work .content_page_work .content_item .item .title {
    font-size: 25px;
  }

  .content_page_work .content_page_work .content_item .item .desc {
    font-size: 13px;
  }

  .content_page_work .banner_bottom .content_box .center_box {
    width: 90%;
  }

  .content_page_work .banner_bottom .content_box .center_box .content {
    font-size: 19px;
  }
}
@media (max-width: 1024px) {
  .logo_desktop_team {
    display: none;
  }

  .logo_mobile_team {
    display: block;
  }

  .page_member .content_page_member {
    padding: 0 60px;
  }
  .page_member .content_page_member .content_left {
    align-items: flex-end;
    width: 100%;
    z-index: 9;
  }
  .page_member .content_page_member .content_left .Content {
    justify-content: left;
    width: 100%;
  }
  .page_member .content_page_member .content_left .Content h1, .page_member .content_page_member .content_left .Content p {
    color: #fff;
    text-align: left;
  }
  .page_member .content_page_member .content_right {
    width: 100%;
    justify-content: center;
    align-items: unset;
    margin-top: 15px;
    padding-bottom: 50px;
  }
  .page_member .content_page_member .content_right .list_member:after {
    width: 100%;
  }
  .page_member .content_page_member .content_right .list_member {
    margin: 0;
  }

  .page_member .footer_section .content_footer .footer_left .Copyright, .page_member .footer_section .content_footer .footer_left .Copyright a {
    color: #fff;
  }

  .page_member .content_page_member .content_left .Content h1:before {
    content: unset;
  }

  .page_member .content_page_member .content_left .Content h1 {
    width: -webkit-max-content;
    width: max-content;
    text-align: left;
  }

  .page_member .content_page_member .content_right .list_member {
    width: 100%;
  }

  .page_member .content_page_member .content_right .list_member .item {
    width: calc(50%);
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .content_page_work .banner_bottom img {
    height: auto;
  }

  .content_page_work .banner_bottom .content_box {
    position: relative;
    width: 100%;
    padding: 40px 0;
  }

  .content_page_work .banner_top {
    height: 100vh;
    display: flex;
    align-content: center;
    background-position: center !important;
  }
  .content_page_work .banner_top .title_banner {
    line-height: 35px;
  }
  .content_page_work .banner_top .title_banner:after {
    margin-bottom: 20px;
  }

  .content_page_work .content_page_work .content_item {
    padding: 50px 0;
  }
  .content_page_work .content_page_work .content_item .item {
    width: calc(100%/2 - 15px);
    margin-bottom: 30px;
  }
  .content_page_work .content_page_work .content_item .item .title {
    font-size: 28px;
  }
  .content_page_work .content_page_work .content_item .item img {
    width: 100%;
  }
  .content_page_work .content_page_work .content_item .item:nth-child(odd) {
    margin-left: 0;
  }

  .content_page_work .banner_top .title_banner, .content_page_work .banner_bottom .content_box .title {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .page_member {
    flex-wrap: wrap;
  }
  .page_member .content_page_member .title_page {
    font-size: 50px;
  }
  .page_member .content_page_member {
    width: 100%;
  }
  .page_member .content_page_member .list_member .item {
    width: 45%;
  }

  .content_page_work .footer_section {
    background: #726658;
    position: relative;
  }
}
@media (max-width: 767px) {
  .content_page_work .content_page_work .content_item .item .title {
    font-size: 27px;
    justify-content: center;
  }

  .content_page_work .content_page_work .content_item .item {
    width: calc(100%);
    margin: 0 auto 20px auto;
  }

  .content_page_work .content_page_work .content_item .item .thumbnail img {
    width: 100%;
  }

  .content_page_work .banner_bottom .content_box {
    position: relative;
    width: 100%;
    padding: 20px;
  }
  .content_page_work .banner_bottom .content_box .center_box {
    width: 100%;
  }

  .content_page_work .content_page_work .content_item .item .desc {
    font-size: 18px;
  }

  .page_member .content_page_member {
    padding: 0 20px;
  }
}
@media (max-width: 580px) {
  .content_page_work .banner_top .content_banner {
    margin: auto;
  }

  .content_page_work .banner_top .title_banner {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.03em;
  }
  .content_page_work .banner_top .title_banner:after {
    margin-top: 27px;
  }

  .content_page_work .content_page_work .content_item .item .title, .content_page_work .banner_bottom .content_box .title {
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 40px;
  }

  .content_page_work .banner_top .text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
  }

  .content_page_work .banner_bottom .content_box .center_box .link a {
    font-size: 13px;
  }

  .content_page_work .content_item .item .title {
    margin: 15px auto;
  }

  .content_page_work .content_item .item .desc {
    padding-top: 15px;
  }

  .content_page_work .content_page_work .content_item {
    padding: 50px 0 0 0;
  }

  .content_page_work .banner_bottom .content_box .center_box .link:after {
    margin-top: 8px;
  }

  .content_page_work .content_page_work .content_item .item .desc p br, .content_page_work .banner_bottom .content_box .center_box .content p br, .content_page_work .banner_top .text p br {
    display: none;
  }

  .content_page_work .content_page_work .content_item .item .desc .txtbr, .content_page_work .banner_bottom .content_box .center_box .content .txtbr, .content_page_work .banner_top .text .txtbr {
    display: block;
  }

  .content_page_work .content_page_work .content_item .item .desc p, .content_page_work .banner_bottom .content_box .center_box .content p {
    font-size: 17px;
    letter-spacing: 0.03em;
    line-height: 30px;
  }
  .content_page_work .content_page_work .content_item .item .desc .txtbr, .content_page_work .banner_bottom .content_box .center_box .content .txtbr {
    display: block;
  }

  .page_member .content_page_member .content_left {
    position: relative;
  }
  .page_member .content_page_member .content_left:before {
    content: "";
    top: 0;
    left: -25px;
    right: -25px;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-color: #dfd7ce;
  }
  .page_member .content_page_member .content_left .Content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #5F5346;
  }
  .page_member .content_page_member .content_left .Content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    color: #5F5346;
  }
  .page_member .content_page_member .content_right .list_member {
    width: 100%;
  }
  .page_member .content_page_member .content_right .list_member .item {
    width: 50%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 40px;
  }
  .page_member .content_page_member .content_right .list_member .item .name_position_member .name {
    margin-top: 0px;
  }

  .page_member .content_page_member .content_left .Content p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
  }
  .page_member .content_page_member .content_left .Content p br {
    display: none;
  }

  .page_member .content_page_member .content_right .list_member .item .name_position_member .name {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 32px;
  }

  .page_member .content_page_member .content_right .list_member .item:nth-child(even) {
    padding-left: 10px;
  }

  .page_member .content_page_member .content_right .list_member .item:nth-child(odd) {
    padding-right: 10px;
  }

  .page_member .content_page_member .content_right .list_member .item .name_position_member .position {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 20px;
  }

  .page_member .content_page_member .content_left .Content h1 {
    text-align: center;
  }

  .page_member .content_page_member .content_left .Content {
    justify-content: center;
  }

  .page_member .content_page_member {
    padding: 0;
  }

  .content_page_work .banner_bottom .content_box {
    padding: 40px 20px;
  }
  .content_page_work .banner_bottom .content_box .center_box .content p {
    margin-bottom: 25px;
  }
  .content_page_work .banner_bottom .content_box .center_box .content br {
    display: none;
  }
}
@media (max-width: 440px) {
  .content_page_work .banner_top .text p br {
    display: none;
  }

  .content_page_work .content_page_work .content_item .item .desc {
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 30px;
  }

  .content_page_work .banner_bottom .content_box .center_box .content {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .page_member {
    background: #726658;
  }
  .page_member .content_page_member {
    min-height: auto;
    padding-top: 100px;
  }
  .page_member .content_page_member .row {
    height: auto;
  }
  .page_member .footer_section {
    position: static;
  }
}
@media (max-width: 575px) {
  .page-id-197 #header .container_header .menu_header .button_link {
    display: none;
  }

  .page_member .content_page_member {
    padding-top: 0;
  }
  .page_member .content_page_member .content_left {
    min-height: 100vh;
    align-items: center;
  }
}
@media (min-width: 1801px) {
  .page_member .container {
    max-width: 1460px;
  }

  .page_member .content_page_member .content_right .list_member {
    margin-top: calc(100% - 255px);
  }
}