.content_page_work{
    background: #DDD7CE;
    .banner_top{
        background-size: cover !important;
        .content_banner{
            max-width:max-content;
            text-align: center;

        }
        .title_banner , .text{
            color: #fff;
        }
        .title_banner{
            font-size: 70px;
            &:after{
                content: "";
                background: #fff;
                display: block;
                width: 100%;
                height: 1px;
                margin-bottom: 60px;
                margin-top: 42px;
            }
        }
        .text{ font-size: 30px; line-height: 50px;}
    }
        .content_item{
            display: flex;
            flex-wrap: wrap;
            .item{
                width: calc(100%/3 - 30px);
                margin-left: 30px;
                .title{
                    color: #5F5346;
                    font-size: 40px;
                    text-align: center;
                    margin: 30px auto;
                }
                .desc{
                    color: #5F5346;
                    font-size: 21px;
                    text-align: center;
                    border-top: 1px solid#5F5346;
                    padding-top: 30px;
                    line-height: 1.8;
                }
                .thumbnail{
                  overflow: hidden;
                  img{
                    transition: all 0.6s ease;
                    &:hover{
                      transform: scale(1.05);
                    }
                  }
                }
            }
            .item:first-child{
                margin-left: 0px;
            }
        }
    .banner_bottom{
        overflow: hidden;
        position: relative;
        .content_box{
          position: absolute;
          top: 0;
          width: 50%;
          height: 100%;
          background: #DDD7CE;
          opacity: 0.9;
          display: flex;
          align-items: center;
          right: 0;
          .title{
            font-size: 70px;
            color: #5F5346;
            margin-bottom: 60px;
            font-family: Mulish-Regular;
            &:after{
              content: "";
              background: #5F5346;
              width: 50%;
              height: 1px;
              display: block;
              margin-top: 45px;
              transition: all 0.6s ease;
              margin-left: auto;
              margin-right: auto;
            }
            
          }
          .center_box{
            text-align: center;
            width: 75%;
            margin: auto;
            .content{
              font-size: 24px;
              color: #5F5346;
              line-height: 40px;
              p{
                margin-bottom: 30px;
              }
            }
            .link{
              width: max-content;
              margin: auto;
              margin-top: 73px;
              
              a{
                text-transform: uppercase;
                color: #5F5346;
                margin-right: 10px;
                letter-spacing: 0.18em;
                font-size: 20px;
              }
              &:after{
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: #5F5346;
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.6s ease;
              }
              &:hover{
                &:after {
                  width: 20%;
                  margin-left: auto;
                  margin-right: auto;
                  transition: all 0.6s ease;
                }
              }
            }
          }
        }
        img{
          transition: all 0.6s ease;
          width: 100%;
          height: 100%;
        }
        &:hover{
          img{
            transform: scale(1.05);
          }
        }
      }
      #fullpage{
        .section {
          .fp-tableCell{
            .content_propety1{
              height: 100vh;
            }
          }
        }
      }
      .footer_section{
        background: #726658;
        display: flex;
        align-items: center;
        #footer{width: 100%;}
      }
}

// page_member 
.page_member{
  background: #DDD7CE;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  .footer_section{
    .content_footer .footer_left .Copyright , .content_footer .footer_left .Copyright a{color: #7A6E66;}
    .content_footer .footer_left .Copyright a{border-left: 2px solid #7A6E66;}
    // .content_footer .footer_right .connect .link_connect i{color: #726658;}
    // .content_footer .footer_right .connect .link_connect{background:  #fff;}
  }
  .content_page_member{
    min-height: 100vh;
    .row{
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
    }
    .content_left {
      width: 50%;
      display: flex;
      align-items: center;
      .Content{
        display: flex;
        flex-wrap: wrap;
        h1{font-size: 60px;
          color: #7A6E66;
          margin-bottom: 100px;
          &::after{
            content:"";
            background:  #7A6E66;
            height: 2px;
            width: 100%;
            display: block;
            margin-top: 30px;
          }
        }
        p{
          color: #7A6E66;
          font-size: 21px;
          text-align: left;
          max-width: max-content;
          line-height: 2em;
        }
      }
    }
    .content_right{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      .list_member{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        justify-content: center;
        margin-top: calc(100% - 310px);
        &:after{
          content: "";
          position: absolute;
          display: block;
          height: 100vh;
          background: #726658;
          width: 50%;
          top: 0;
          right: 0;
          z-index: 1;
          }
        .item{
          width: calc(50% - 30px);
          margin-left: 30px;
          z-index: 2;
          .thumbnail{
            max-height: 260px;
            overflow: hidden;
          }
          .name_position_member{
            color: #fff;
            text-align: left;
            
            .name{
              font-size: 21px;
              margin-top: 25px;
              line-height: 1.6em;
              font-family: Mulish-SemiBold;
            }
            .position{
              font-size: 16px;
              font-family: Mulish-Light;
            }
          }
        }
      }
    }
    .title_page{
      font-size: 70px;
      color: #fff;
      width: max-content;
      margin: auto;
      margin-bottom: 40px;
    }
    
  }
}
@media (max-width:1600px){ 
  .page_member .content_page_member .content_right .list_member 
  .content_page_work {
      .banner_bottom .content_box .title:after , .banner_bottom .content_box .center_box .link{margin-top: 25px;}
      .banner_bottom .content_box .title{    margin-bottom: 30px;      }
      .banner_bottom .content_box .center_box .content{line-height: 1.5em;}
      .banner_top .title_banner:after{margin-bottom: 42.5px; margin-top: 40px;}
     .banner_top .text{line-height: 32px;}
     .banner_top .title_banner ,  .banner_bottom .content_box .title{font-size: 50px;}
     .content_page_work .content_item .item .title{font-size: 32px;}
     .banner_top .text {font-size: 20px;}
     .content_page_work .content_item .item .desc ,  .banner_bottom .content_box .center_box p.content{font-size: 16px;}
     .banner_bottom img{height: 100%; object-fit: cover;}
     .banner_bottom .content_box .center_box .content{font-size: 19px;}
  }
  .page_member .content_page_member {
    .content_left{ 
      .Content {
        h1{
          font-size: 50px;
          margin-bottom: 60px;
  
        }
        p{
          font-size: 17px;
        }
      }
    }
    .content_right{ 
      align-items: center;
    }
    .content_right .list_member .item .name_position_member .name{
      font-size: 14px;
    }
    .content_right .list_member .item .name_position_member .position{font-size: 12px;}
    .content_right .list_member .item .name_position_member .name {margin-top: 15px;}
    .content_right .list_member {    margin-top: 230px;    }
  }
  
}
@media (max-width:1400px){
  //work
  .content_page_work .content_page_work .content_item .item .desc{font-size: 14px;}
}
@media (max-width: 1800px) and (min-width: 1200px){
  .page_member{
    .container{max-width: calc(76% + 40px);}
    #footer .container{width: 76%;}
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .page_member .container {max-width: 90%;}
}
@media (max-width: 1740px) and (min-width: 1025px){ 
  .content_page_work .content_item .item .title{font-size: 33px;}
  .content_page_work .content_page_work .content_item .item .desc{font-size: 14px;}
  .content_page_work .banner_bottom .content_box .title{font-size: 52px;}
  .content_page_work .banner_bottom .content_box .center_box .content{font-size: 18px;}
  .content_page_work .banner_bottom .content_box .title{margin-bottom: 25px;}
  .content_page_work .banner_bottom .content_box .title:after{margin-top: 20px;}
  .content_page_work .banner_bottom .content_box .center_box .content p{margin-bottom: 10px;}
  .content_page_work .banner_bottom .content_box .center_box .link{margin-top: 30px;}
}
@media (max-width:1200px){
  .content_page_work .content_page_work .content_item .item .title {font-size: 25px;}
  .content_page_work .content_page_work .content_item .item .desc{font-size: 13px;}
  .content_page_work .banner_bottom .content_box .center_box{width: 90%;}
  .content_page_work .banner_bottom .content_box .center_box .content{font-size: 19px;}
}

@media (max-width:1024px){ 
  .logo_desktop_team{display: none;}
  .logo_mobile_team{display: block;}
  //page member
  .page_member .content_page_member{
    padding: 0 60px;
    .content_left {
      align-items: flex-end;
      width: 100%;
      z-index: 9;
      .Content{
        justify-content: left;
        width: 100%;
        h1,p{color:#fff;text-align: left;}
      } 
    } 
    .content_right{
      width: 100%;
      justify-content: center;
      align-items: unset;
      margin-top: 15px;
      padding-bottom: 50px;
      .list_member:after { width: 100%; }
    }
   .content_right .list_member{margin: 0;}
  } 
  .page_member .footer_section .content_footer {
   .footer_left .Copyright, .footer_left .Copyright a {color: #fff;}
  //  .footer_right .connect .link_connect{background: #fff;}
  //  .footer_right .connect .link_connect i {    color: #726658;  }
  }
  .page_member .content_page_member .content_left .Content h1:before{content: unset;}
  .page_member .content_page_member .content_left .Content h1{width: max-content;text-align: left;}
  .page_member .content_page_member .content_right .list_member{    width: 100%;  }
  .page_member .content_page_member .content_right .list_member .item{width: calc(50%);margin-left: 0;}
}
@media (max-width:1023px){ 
  .content_page_work .banner_bottom img{height: auto;}
  .content_page_work .banner_bottom .content_box{position: relative;width: 100%;padding: 40px 0;}
  .content_page_work .banner_top{
    height: 100vh;
    display: flex;
    align-content: center;
    background-position: center!important;
    .title_banner{
      line-height: 35px;
      &:after{
        margin-bottom: 20px;
      }
    }
  }
  .content_page_work .content_page_work .content_item {
    padding: 50px 0;
    .item{
      width: calc(100%/2 - 15px);margin-bottom: 30px;
      .title{font-size: 28px;}
      img{width: 100%;}
    }
    .item:nth-child(odd){margin-left: 0;}
  }
  .content_page_work .banner_top .title_banner, .content_page_work .banner_bottom .content_box .title{font-size: 38px;margin-bottom: 20px;}
  .page_member {
    flex-wrap: wrap;
    .content_page_member .title_page{font-size: 50px;}
    .content_page_member {    width: 100%;  }
    .content_page_member .list_member .item{width: 45%;}
  }
  .content_page_work .footer_section{
    background: #726658;
    position: relative;
  }

}
@media (max-width:992px){ 

}
@media (max-width:767px){ 
  .content_page_work .content_page_work .content_item .item .title {font-size: 27px;justify-content: center;}
  .content_page_work .content_page_work .content_item .item{width: calc(100%);margin: 0 auto 20px auto;}
  .content_page_work .content_page_work .content_item .item .thumbnail img{width: 100%;}
  .content_page_work .banner_bottom .content_box{
    position: relative;
    width: 100%;
    padding: 20px;
    .center_box{
      width: 100%;
    }
  }
  .content_page_work .content_page_work .content_item .item .desc{    font-size: 18px;  }
  .page_member .content_page_member {padding: 0 20px;}
}
@media (max-width:580px){ 
  .content_page_work .banner_top .content_banner{margin: auto;}
  .content_page_work .banner_top .title_banner{    font-size: 50px;
    line-height: 60px;  letter-spacing: 0.03em;&:after{margin-top: 27px;}}
  .content_page_work .content_page_work .content_item .item .title , .content_page_work .banner_bottom .content_box .title{font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 40px;}
  .content_page_work .banner_top .text{font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;}
  .content_page_work .banner_bottom .content_box .center_box .link a{font-size: 13px;}
  .content_page_work .content_item .item .title{margin: 15px auto;}
  .content_page_work .content_item .item .desc{padding-top: 15px;}
  .content_page_work .content_page_work .content_item {padding: 50px 0 0 0;}
  .content_page_work .banner_bottom .content_box .center_box .link:after{margin-top: 8px;}
  .content_page_work .content_page_work .content_item .item .desc, .content_page_work .banner_bottom .content_box .center_box .content , .content_page_work .banner_top .text{
    p{br{display: none;}}
  }
  .content_page_work .content_page_work .content_item .item .desc, .content_page_work .banner_bottom .content_box .center_box .content , .content_page_work .banner_top .text{.txtbr{display: block;}}
  .content_page_work .content_page_work .content_item .item .desc, .content_page_work .banner_bottom .content_box .center_box .content {p{font-size: 17px;letter-spacing: 0.03em;line-height: 30px;}.txtbr{display: block;}}

  .page_member{
    .content_page_member {
      .content_left{
        position: relative;
        &:before{
          content: '';
          top: 0;
          left: -25px;
          right: -25px;
          bottom: 0;
          position: absolute;
          z-index: -1;
          background-color: #dfd7ce;
        }
        .Content{
          h1{font-size: 30px;margin-bottom: 20px;color: #5F5346;}
          p  {font-size: 18px;text-align: center;margin-bottom: 20px;max-width: 100%;color: #5F5346;}
        }
      }  
      .content_right{
        .list_member {
          width: 100%;
          .item{
              width: 50%;
              margin-left: 0;
              margin-bottom: 0;
              margin-top: 40px;
              .name_position_member{
                .name{margin-top: 0px;}
              }
            } 
          }
      }
    }
  }
  .page_member .content_page_member .content_left .Content p{font-size: 18px; line-height: 30px; letter-spacing: 0.03em; br{display: none;}}
  .page_member .content_page_member .content_right .list_member .item .name_position_member .name{
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 32px;
  }
  .page_member .content_page_member .content_right .list_member .item:nth-child(even){
    padding-left: 10px;
  }
  .page_member .content_page_member .content_right .list_member .item:nth-child(odd){
    padding-right: 10px;
  }
  .page_member .content_page_member .content_right .list_member .item .name_position_member .position{
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 20px;}
  .page_member .content_page_member .content_left .Content h1{    text-align: center;  }
  .page_member .content_page_member .content_left .Content{justify-content: center;}
  .page_member .content_page_member{padding: 0;}
  .content_page_work .banner_bottom{
    .content_box{
      padding: 40px 20px;
      .center_box .content{
        p{
          margin-bottom: 25px;
        }
        br{display: none;}
      }
    }
    }
}
@media (max-width:440px){ 
  .content_page_work .banner_top .text p br{display: none;}
  .content_page_work .content_page_work .content_item .item .desc{font-size: 18px;letter-spacing: 0.03em;line-height: 30px;}
  .content_page_work .banner_bottom .content_box .center_box .content{    font-size: 17px;  }
}

//fix responsive

@media (max-width: 767px){
  .page_member{
    background: #726658;
    .content_page_member{
      min-height: auto;
      padding-top: 100px;
      .row{
        height: auto;
      }
      .content_left{
      }
      .content_right{
      }
    }
    .footer_section{
      position: static;
    }
  }
}

@media (max-width: 575px){
  .page-id-197{
    #header .container_header .menu_header .button_link{display: none;}
  }
  .page_member{
    .content_page_member{
      padding-top: 0;
      .content_left{
        min-height: 100vh;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1801px){
  .page_member .container{max-width: 1460px}
  .page_member .content_page_member .content_right .list_member{margin-top: calc(100% - 255px);}
}